<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>anim_amethyst_idle_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{550,1269},{175,202}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{175,202}}</string>
				<key>sourceSize</key>
				<string>{175,202}</string>
			</dict>

			<key>anim_amethyst_idle_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{550,1066},{175,202}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{175,202}}</string>
				<key>sourceSize</key>
				<string>{175,202}</string>
			</dict>

			<key>anim_amethyst_idle_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{550,863},{175,202}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{175,202}}</string>
				<key>sourceSize</key>
				<string>{175,202}</string>
			</dict>

			<key>anim_amethyst_idle_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{550,660},{175,202}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{175,202}}</string>
				<key>sourceSize</key>
				<string>{175,202}</string>
			</dict>

			<key>anim_amethyst_idle_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{550,1675},{175,202}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{175,202}}</string>
				<key>sourceSize</key>
				<string>{175,202}</string>
			</dict>

			<key>anim_amethyst_idle_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{561,0},{175,202}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{175,202}}</string>
				<key>sourceSize</key>
				<string>{175,202}</string>
			</dict>

			<key>anim_amethyst_idle_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{374,1269},{175,202}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{175,202}}</string>
				<key>sourceSize</key>
				<string>{175,202}</string>
			</dict>

			<key>anim_amethyst_idle_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{374,1066},{175,202}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{175,202}}</string>
				<key>sourceSize</key>
				<string>{175,202}</string>
			</dict>

			<key>anim_amethyst_throw_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{374,1472},{175,202}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{175,202}}</string>
				<key>sourceSize</key>
				<string>{175,202}</string>
			</dict>

			<key>anim_amethyst_throw_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{374,863},{175,202}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{175,202}}</string>
				<key>sourceSize</key>
				<string>{175,202}</string>
			</dict>

			<key>anim_amethyst_throw_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{374,660},{175,202}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{175,202}}</string>
				<key>sourceSize</key>
				<string>{175,202}</string>
			</dict>

			<key>anim_amethyst_throw_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{374,1675},{175,202}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{175,202}}</string>
				<key>sourceSize</key>
				<string>{175,202}</string>
			</dict>

			<key>anim_amethyst_throw_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{550,1472},{175,202}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{175,202}}</string>
				<key>sourceSize</key>
				<string>{175,202}</string>
			</dict>

			<key>anim_amethyst_throw_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{561,203},{175,202}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{175,202}}</string>
				<key>sourceSize</key>
				<string>{175,202}</string>
			</dict>

			<key>anim_garnet_idle_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{187,990},{186,329}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{186,329}}</string>
				<key>sourceSize</key>
				<string>{186,329}</string>
			</dict>

			<key>anim_garnet_idle_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{187,660},{186,329}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{186,329}}</string>
				<key>sourceSize</key>
				<string>{186,329}</string>
			</dict>

			<key>anim_garnet_idle_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{187,330},{186,329}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{186,329}}</string>
				<key>sourceSize</key>
				<string>{186,329}</string>
			</dict>

			<key>anim_garnet_idle_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{187,0},{186,329}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{186,329}}</string>
				<key>sourceSize</key>
				<string>{186,329}</string>
			</dict>

			<key>anim_garnet_idle_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1650},{186,329}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{186,329}}</string>
				<key>sourceSize</key>
				<string>{186,329}</string>
			</dict>

			<key>anim_garnet_idle_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1320},{186,329}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{186,329}}</string>
				<key>sourceSize</key>
				<string>{186,329}</string>
			</dict>

			<key>anim_garnet_idle_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,990},{186,329}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{186,329}}</string>
				<key>sourceSize</key>
				<string>{186,329}</string>
			</dict>

			<key>anim_garnet_idle_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,660},{186,329}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{186,329}}</string>
				<key>sourceSize</key>
				<string>{186,329}</string>
			</dict>

			<key>anim_garnet_throw_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,330},{186,329}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{186,329}}</string>
				<key>sourceSize</key>
				<string>{186,329}</string>
			</dict>

			<key>anim_garnet_throw_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{186,329}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{186,329}}</string>
				<key>sourceSize</key>
				<string>{186,329}</string>
			</dict>

			<key>anim_garnet_throw_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{374,0},{186,329}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{186,329}}</string>
				<key>sourceSize</key>
				<string>{186,329}</string>
			</dict>

			<key>anim_garnet_throw_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{187,1320},{186,329}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{186,329}}</string>
				<key>sourceSize</key>
				<string>{186,329}</string>
			</dict>

			<key>anim_garnet_throw_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{187,1650},{186,329}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{186,329}}</string>
				<key>sourceSize</key>
				<string>{186,329}</string>
			</dict>

			<key>anim_garnet_throw_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{374,330},{186,329}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{186,329}}</string>
				<key>sourceSize</key>
				<string>{186,329}</string>
			</dict>

			<key>anim_pearl_idle_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{726,1518},{158,277}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{158,277}}</string>
				<key>sourceSize</key>
				<string>{158,277}</string>
			</dict>

			<key>anim_pearl_idle_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{726,962},{158,277}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{158,277}}</string>
				<key>sourceSize</key>
				<string>{158,277}</string>
			</dict>

			<key>anim_pearl_idle_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{726,1240},{158,277}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{158,277}}</string>
				<key>sourceSize</key>
				<string>{158,277}</string>
			</dict>

			<key>anim_pearl_idle_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{885,556},{158,277}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{158,277}}</string>
				<key>sourceSize</key>
				<string>{158,277}</string>
			</dict>

			<key>anim_pearl_idle_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{737,0},{158,277}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{158,277}}</string>
				<key>sourceSize</key>
				<string>{158,277}</string>
			</dict>

			<key>anim_pearl_idle_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{885,278},{158,277}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{158,277}}</string>
				<key>sourceSize</key>
				<string>{158,277}</string>
			</dict>

			<key>anim_pearl_idle_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{896,0},{158,277}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{158,277}}</string>
				<key>sourceSize</key>
				<string>{158,277}</string>
			</dict>

			<key>anim_pearl_idle_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{885,834},{158,277}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{158,277}}</string>
				<key>sourceSize</key>
				<string>{158,277}</string>
			</dict>

			<key>anim_pearl_throw_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{885,1668},{158,277}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{158,277}}</string>
				<key>sourceSize</key>
				<string>{158,277}</string>
			</dict>

			<key>anim_pearl_throw_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1044,278},{158,277}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{158,277}}</string>
				<key>sourceSize</key>
				<string>{158,277}</string>
			</dict>

			<key>anim_pearl_throw_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{726,684},{158,277}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{158,277}}</string>
				<key>sourceSize</key>
				<string>{158,277}</string>
			</dict>

			<key>anim_pearl_throw_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{726,406},{158,277}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{158,277}}</string>
				<key>sourceSize</key>
				<string>{158,277}</string>
			</dict>

			<key>anim_pearl_throw_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{885,1390},{158,277}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{158,277}}</string>
				<key>sourceSize</key>
				<string>{158,277}</string>
			</dict>

			<key>anim_pearl_throw_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{885,1112},{158,277}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{158,277}}</string>
				<key>sourceSize</key>
				<string>{158,277}</string>
			</dict>

			<key>anim_steven_idle_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{561,406},{137,203}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{137,203}}</string>
				<key>sourceSize</key>
				<string>{137,203}</string>
			</dict>

			<key>anim_steven_idle_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1044,556},{137,203}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{137,203}}</string>
				<key>sourceSize</key>
				<string>{137,203}</string>
			</dict>

			<key>anim_steven_idle_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1044,760},{137,203}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{137,203}}</string>
				<key>sourceSize</key>
				<string>{137,203}</string>
			</dict>

			<key>anim_steven_idle_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{726,1796},{137,203}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{137,203}}</string>
				<key>sourceSize</key>
				<string>{137,203}</string>
			</dict>

			<key>anim_steven_idle_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1044,1168},{137,203}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{137,203}}</string>
				<key>sourceSize</key>
				<string>{137,203}</string>
			</dict>

			<key>anim_steven_idle_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1182,556},{137,203}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{137,203}}</string>
				<key>sourceSize</key>
				<string>{137,203}</string>
			</dict>

			<key>anim_steven_idle_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1044,964},{137,203}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{137,203}}</string>
				<key>sourceSize</key>
				<string>{137,203}</string>
			</dict>

			<key>anim_steven_idle_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1044,1780},{137,203}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{137,203}}</string>
				<key>sourceSize</key>
				<string>{137,203}</string>
			</dict>

			<key>anim_steven_throw_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1055,0},{137,203}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{137,203}}</string>
				<key>sourceSize</key>
				<string>{137,203}</string>
			</dict>

			<key>anim_steven_throw_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1182,964},{137,203}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{137,203}}</string>
				<key>sourceSize</key>
				<string>{137,203}</string>
			</dict>

			<key>anim_steven_throw_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1182,760},{137,203}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{137,203}}</string>
				<key>sourceSize</key>
				<string>{137,203}</string>
			</dict>

			<key>anim_steven_throw_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1044,1576},{137,203}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{137,203}}</string>
				<key>sourceSize</key>
				<string>{137,203}</string>
			</dict>

			<key>anim_steven_throw_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1044,1372},{137,203}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{137,203}}</string>
				<key>sourceSize</key>
				<string>{137,203}</string>
			</dict>

			<key>anim_steven_throw_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{561,406},{137,203}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{137,203}}</string>
				<key>sourceSize</key>
				<string>{137,203}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,2048}</string>
			<key>textureFileName</key>
			<string>characters.png</string>
			</dict>
		</dict>
</plist>