<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>anim_hologram_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{864,1817},{137,194}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{137,194}}</string>
				<key>sourceSize</key>
				<string>{137,194}</string>
			</dict>

			<key>anim_hologram_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1002,1817},{137,194}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{137,194}}</string>
				<key>sourceSize</key>
				<string>{137,194}</string>
			</dict>

			<key>anim_hologram_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1099,629},{137,194}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{137,194}}</string>
				<key>sourceSize</key>
				<string>{137,194}</string>
			</dict>

			<key>anim_hologram_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1099,1214},{137,194}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{137,194}}</string>
				<key>sourceSize</key>
				<string>{137,194}</string>
			</dict>

			<key>anim_hologram_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1099,1019},{137,194}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{137,194}}</string>
				<key>sourceSize</key>
				<string>{137,194}</string>
			</dict>

			<key>anim_hologram_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1140,1736},{137,194}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{137,194}}</string>
				<key>sourceSize</key>
				<string>{137,194}</string>
			</dict>

			<key>anim_hologram_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1057,1541},{137,194}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{137,194}}</string>
				<key>sourceSize</key>
				<string>{137,194}</string>
			</dict>

			<key>anim_hologram_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1099,824},{137,194}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{137,194}}</string>
				<key>sourceSize</key>
				<string>{137,194}</string>
			</dict>

			<key>anim_pit_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{386,1887},{192,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{192,91}}</string>
				<key>sourceSize</key>
				<string>{192,91}</string>
			</dict>

			<key>anim_pit_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{193,1887},{192,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{192,91}}</string>
				<key>sourceSize</key>
				<string>{192,91}</string>
			</dict>

			<key>anim_pit_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{864,1541},{192,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{192,91}}</string>
				<key>sourceSize</key>
				<string>{192,91}</string>
			</dict>

			<key>anim_pit_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{864,1725},{192,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{192,91}}</string>
				<key>sourceSize</key>
				<string>{192,91}</string>
			</dict>

			<key>anim_pit_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{864,1633},{192,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{192,91}}</string>
				<key>sourceSize</key>
				<string>{192,91}</string>
			</dict>

			<key>anim_pit_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1887},{192,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{192,91}}</string>
				<key>sourceSize</key>
				<string>{192,91}</string>
			</dict>

			<key>anim_startPopup_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{628,628}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{628,628}}</string>
				<key>sourceSize</key>
				<string>{628,628}</string>
			</dict>

			<key>anim_startPopup_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,629},{628,628}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{628,628}}</string>
				<key>sourceSize</key>
				<string>{628,628}</string>
			</dict>

			<key>anim_startPopup_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1258},{628,628}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{628,628}}</string>
				<key>sourceSize</key>
				<string>{628,628}</string>
			</dict>

			<key>anim_startPopup_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{629,0},{628,628}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{628,628}}</string>
				<key>sourceSize</key>
				<string>{628,628}</string>
			</dict>

			<key>anim_teleport_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{864,1085},{234,455}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{234,455}}</string>
				<key>sourceSize</key>
				<string>{234,455}</string>
			</dict>

			<key>anim_teleport_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{629,629},{234,455}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{234,455}}</string>
				<key>sourceSize</key>
				<string>{234,455}</string>
			</dict>

			<key>anim_teleport_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{864,629},{234,455}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{234,455}}</string>
				<key>sourceSize</key>
				<string>{234,455}</string>
			</dict>

			<key>anim_teleport_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{629,1541},{234,455}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{234,455}}</string>
				<key>sourceSize</key>
				<string>{234,455}</string>
			</dict>

			<key>anim_teleport_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{629,1085},{234,455}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{234,455}}</string>
				<key>sourceSize</key>
				<string>{234,455}</string>
			</dict>

			<key>obj_bubble_grid.png</key>
			<dict>
				<key>frame</key>
				<string>{{1140,1931},{74,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{74,85}}</string>
				<key>sourceSize</key>
				<string>{74,85}</string>
			</dict>

			<key>ui_hologram_amethyst.png</key>
			<dict>
				<key>frame</key>
				<string>{{1237,629},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,130}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

			<key>ui_hologram_garnet.png</key>
			<dict>
				<key>frame</key>
				<string>{{1099,1409},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,130}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

			<key>ui_hologram_pearl.png</key>
			<dict>
				<key>frame</key>
				<string>{{1195,1540},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,130}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

			<key>ui_hologram_steven.png</key>
			<dict>
				<key>frame</key>
				<string>{{1230,1409},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,130}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,2048}</string>
			<key>textureFileName</key>
			<string>fx.png</string>
			</dict>
		</dict>
</plist>