<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>bomb_explode_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,294},{387,314}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{387,314}}</string>
				<key>sourceSize</key>
				<string>{387,314}</string>
			</dict>

			<key>bomb_explode_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{388,609},{387,314}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{387,314}}</string>
				<key>sourceSize</key>
				<string>{387,314}</string>
			</dict>

			<key>bomb_explode_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{388,294},{387,314}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{387,314}}</string>
				<key>sourceSize</key>
				<string>{387,314}</string>
			</dict>

			<key>bomb_explode_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{388,924},{387,314}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{387,314}}</string>
				<key>sourceSize</key>
				<string>{387,314}</string>
			</dict>

			<key>bomb_explode_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1555},{387,314}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{387,314}}</string>
				<key>sourceSize</key>
				<string>{387,314}</string>
			</dict>

			<key>bomb_explode_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,609},{387,314}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{387,314}}</string>
				<key>sourceSize</key>
				<string>{387,314}</string>
			</dict>

			<key>bomb_explode_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,924},{387,314}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{387,314}}</string>
				<key>sourceSize</key>
				<string>{387,314}</string>
			</dict>

			<key>bomb_explode_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{776,315},{387,314}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{387,314}}</string>
				<key>sourceSize</key>
				<string>{387,314}</string>
			</dict>

			<key>bomb_explode_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{776,0},{387,314}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{387,314}}</string>
				<key>sourceSize</key>
				<string>{387,314}</string>
			</dict>

			<key>bomb_explode_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{388,1554},{387,314}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{387,314}}</string>
				<key>sourceSize</key>
				<string>{387,314}</string>
			</dict>

			<key>bomb_explode_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{388,1239},{387,314}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{387,314}}</string>
				<key>sourceSize</key>
				<string>{387,314}</string>
			</dict>

			<key>bomb_explode_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{388,924},{387,314}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{387,314}}</string>
				<key>sourceSize</key>
				<string>{387,314}</string>
			</dict>

			<key>bomb_explode_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{388,924},{387,314}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{387,314}}</string>
				<key>sourceSize</key>
				<string>{387,314}</string>
			</dict>

			<key>bomb_explode_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{388,609},{387,314}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{387,314}}</string>
				<key>sourceSize</key>
				<string>{387,314}</string>
			</dict>

			<key>bomb_idle_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1288,623},{79,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{79,115}}</string>
				<key>sourceSize</key>
				<string>{79,115}</string>
			</dict>

			<key>bomb_idle_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1288,623},{79,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{79,115}}</string>
				<key>sourceSize</key>
				<string>{79,115}</string>
			</dict>

			<key>bomb_idle_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1259,224},{79,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{79,115}}</string>
				<key>sourceSize</key>
				<string>{79,115}</string>
			</dict>

			<key>bomb_idle_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1259,224},{79,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{79,115}}</string>
				<key>sourceSize</key>
				<string>{79,115}</string>
			</dict>

			<key>bomb_idle_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1244,507},{79,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{79,115}}</string>
				<key>sourceSize</key>
				<string>{79,115}</string>
			</dict>

			<key>bomb_idle_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1244,507},{79,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{79,115}}</string>
				<key>sourceSize</key>
				<string>{79,115}</string>
			</dict>

			<key>bomb_idle_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1244,391},{79,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{79,115}}</string>
				<key>sourceSize</key>
				<string>{79,115}</string>
			</dict>

			<key>bomb_idle_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1244,391},{79,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{79,115}}</string>
				<key>sourceSize</key>
				<string>{79,115}</string>
			</dict>

			<key>bomb_idle_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1164,440},{79,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{79,115}}</string>
				<key>sourceSize</key>
				<string>{79,115}</string>
			</dict>

			<key>bomb_idle_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1164,440},{79,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{79,115}}</string>
				<key>sourceSize</key>
				<string>{79,115}</string>
			</dict>

			<key>cursor.png</key>
			<dict>
				<key>frame</key>
				<string>{{353,2004},{26,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{26,28}}</string>
				<key>sourceSize</key>
				<string>{26,28}</string>
			</dict>

			<key>cursor_text_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1164,56},{164,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{164,55}}</string>
				<key>sourceSize</key>
				<string>{164,55}</string>
			</dict>

			<key>cursor_text_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1164,56},{164,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{164,55}}</string>
				<key>sourceSize</key>
				<string>{164,55}</string>
			</dict>

			<key>cursor_text_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1164,168},{164,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{164,55}}</string>
				<key>sourceSize</key>
				<string>{164,55}</string>
			</dict>

			<key>cursor_text_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1164,168},{164,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{164,55}}</string>
				<key>sourceSize</key>
				<string>{164,55}</string>
			</dict>

			<key>cursor_text_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1164,0},{164,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{164,55}}</string>
				<key>sourceSize</key>
				<string>{164,55}</string>
			</dict>

			<key>cursor_text_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1164,0},{164,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{164,55}}</string>
				<key>sourceSize</key>
				<string>{164,55}</string>
			</dict>

			<key>cursor_text_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1164,112},{164,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{164,55}}</string>
				<key>sourceSize</key>
				<string>{164,55}</string>
			</dict>

			<key>cursor_text_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1164,112},{164,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{164,55}}</string>
				<key>sourceSize</key>
				<string>{164,55}</string>
			</dict>

			<key>cursor_text_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1164,56},{164,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{164,55}}</string>
				<key>sourceSize</key>
				<string>{164,55}</string>
			</dict>

			<key>explode_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1239},{387,315}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{387,315}}</string>
				<key>sourceSize</key>
				<string>{387,315}</string>
			</dict>

			<key>hole_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{572,0},{192,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{192,57}}</string>
				<key>sourceSize</key>
				<string>{192,57}</string>
			</dict>

			<key>hole_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{572,0},{192,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{192,57}}</string>
				<key>sourceSize</key>
				<string>{192,57}</string>
			</dict>

			<key>hole_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{699,1985},{192,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{192,57}}</string>
				<key>sourceSize</key>
				<string>{192,57}</string>
			</dict>

			<key>hole_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{699,1985},{192,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{192,57}}</string>
				<key>sourceSize</key>
				<string>{192,57}</string>
			</dict>

			<key>hole_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{572,0},{192,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{192,57}}</string>
				<key>sourceSize</key>
				<string>{192,57}</string>
			</dict>

			<key>hole_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1085,1985},{192,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{192,57}}</string>
				<key>sourceSize</key>
				<string>{192,57}</string>
			</dict>

			<key>hole_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1085,1985},{192,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{192,57}}</string>
				<key>sourceSize</key>
				<string>{192,57}</string>
			</dict>

			<key>hole_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1085,1985},{192,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{192,57}}</string>
				<key>sourceSize</key>
				<string>{192,57}</string>
			</dict>

			<key>hole_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{892,1985},{192,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{192,57}}</string>
				<key>sourceSize</key>
				<string>{192,57}</string>
			</dict>

			<key>hole_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{892,1985},{192,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{192,57}}</string>
				<key>sourceSize</key>
				<string>{192,57}</string>
			</dict>

			<key>hole_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{892,1985},{192,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{192,57}}</string>
				<key>sourceSize</key>
				<string>{192,57}</string>
			</dict>

			<key>hole_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{699,1985},{192,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{192,57}}</string>
				<key>sourceSize</key>
				<string>{192,57}</string>
			</dict>

			<key>marble_appear_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1288,1860},{63,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{63,64}}</string>
				<key>sourceSize</key>
				<string>{63,64}</string>
			</dict>

			<key>marble_appear_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1288,1470},{63,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{63,64}}</string>
				<key>sourceSize</key>
				<string>{63,64}</string>
			</dict>

			<key>marble_appear_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1288,1405},{63,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{63,64}}</string>
				<key>sourceSize</key>
				<string>{63,64}</string>
			</dict>

			<key>marble_appear_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1324,389},{63,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{63,64}}</string>
				<key>sourceSize</key>
				<string>{63,64}</string>
			</dict>

			<key>marble_appear_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{1288,1340},{63,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{63,64}}</string>
				<key>sourceSize</key>
				<string>{63,64}</string>
			</dict>

			<key>marble_appear_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{1324,454},{63,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{63,64}}</string>
				<key>sourceSize</key>
				<string>{63,64}</string>
			</dict>

			<key>marble_appear_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1288,1210},{63,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{63,64}}</string>
				<key>sourceSize</key>
				<string>{63,64}</string>
			</dict>

			<key>marble_appear_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1288,1665},{63,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{63,64}}</string>
				<key>sourceSize</key>
				<string>{63,64}</string>
			</dict>

			<key>marble_appear_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1288,1730},{63,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{63,64}}</string>
				<key>sourceSize</key>
				<string>{63,64}</string>
			</dict>

			<key>marble_appear_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1288,1275},{63,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{63,64}}</string>
				<key>sourceSize</key>
				<string>{63,64}</string>
			</dict>

			<key>marble_appear_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1288,1600},{63,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{63,64}}</string>
				<key>sourceSize</key>
				<string>{63,64}</string>
			</dict>

			<key>marble_appear_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1288,1535},{63,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{63,64}}</string>
				<key>sourceSize</key>
				<string>{63,64}</string>
			</dict>

			<key>marble_appear_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1288,1795},{63,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{63,64}}</string>
				<key>sourceSize</key>
				<string>{63,64}</string>
			</dict>

			<key>marble_appear_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1288,1795},{63,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{63,64}}</string>
				<key>sourceSize</key>
				<string>{63,64}</string>
			</dict>

			<key>marble_walk_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1324,569},{46,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{46,49}}</string>
				<key>sourceSize</key>
				<string>{46,49}</string>
			</dict>

			<key>marble_walk_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1288,1925},{46,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{46,49}}</string>
				<key>sourceSize</key>
				<string>{46,49}</string>
			</dict>

			<key>marble_walk_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{699,1933},{46,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{46,49}}</string>
				<key>sourceSize</key>
				<string>{46,49}</string>
			</dict>

			<key>marble_walk_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1324,519},{46,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{46,49}}</string>
				<key>sourceSize</key>
				<string>{46,49}</string>
			</dict>

			<key>marble_walk_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1324,569},{46,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{46,49}}</string>
				<key>sourceSize</key>
				<string>{46,49}</string>
			</dict>

			<key>puddle.png</key>
			<dict>
				<key>frame</key>
				<string>{{430,67},{262,181}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{262,181}}</string>
				<key>sourceSize</key>
				<string>{262,181}</string>
			</dict>

			<key>scorex2.png</key>
			<dict>
				<key>frame</key>
				<string>{{353,1870},{345,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{345,133}}</string>
				<key>sourceSize</key>
				<string>{345,133}</string>
			</dict>

			<key>skips.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1870},{352,174}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{352,174}}</string>
				<key>sourceSize</key>
				<string>{352,174}</string>
			</dict>

			<key>skips_run_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{776,901},{255,270}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{255,270}}</string>
				<key>sourceSize</key>
				<string>{255,270}</string>
			</dict>

			<key>skips_run_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{776,1172},{255,270}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{255,270}}</string>
				<key>sourceSize</key>
				<string>{255,270}</string>
			</dict>

			<key>skips_run_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1032,1714},{255,270}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{255,270}}</string>
				<key>sourceSize</key>
				<string>{255,270}</string>
			</dict>

			<key>skips_run_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1032,1443},{255,270}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{255,270}}</string>
				<key>sourceSize</key>
				<string>{255,270}</string>
			</dict>

			<key>skips_run_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{776,1172},{255,270}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{255,270}}</string>
				<key>sourceSize</key>
				<string>{255,270}</string>
			</dict>

			<key>skips_run_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{776,1443},{255,270}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{255,270}}</string>
				<key>sourceSize</key>
				<string>{255,270}</string>
			</dict>

			<key>skips_run_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{776,1714},{255,270}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{255,270}}</string>
				<key>sourceSize</key>
				<string>{255,270}</string>
			</dict>

			<key>skips_run_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1032,630},{255,270}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{255,270}}</string>
				<key>sourceSize</key>
				<string>{255,270}</string>
			</dict>

			<key>skips_run_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1032,901},{255,270}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{255,270}}</string>
				<key>sourceSize</key>
				<string>{255,270}</string>
			</dict>

			<key>skips_run_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1032,1172},{255,270}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{255,270}}</string>
				<key>sourceSize</key>
				<string>{255,270}</string>
			</dict>

			<key>skips_run_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1032,1172},{255,270}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{255,270}}</string>
				<key>sourceSize</key>
				<string>{255,270}</string>
			</dict>

			<key>skips_run_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{776,630},{255,270}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{255,270}}</string>
				<key>sourceSize</key>
				<string>{255,270}</string>
			</dict>

			<key>startlevel.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{571,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{571,66}}</string>
				<key>sourceSize</key>
				<string>{571,66}</string>
			</dict>

			<key>stinkbomb.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,67},{429,226}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{429,226}}</string>
				<key>sourceSize</key>
				<string>{429,226}</string>
			</dict>

			<key>trash_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1288,1082},{72,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{72,63}}</string>
				<key>sourceSize</key>
				<string>{72,63}</string>
			</dict>

			<key>trash_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{699,1869},{72,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{72,63}}</string>
				<key>sourceSize</key>
				<string>{72,63}</string>
			</dict>

			<key>trash_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1288,1146},{72,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{72,63}}</string>
				<key>sourceSize</key>
				<string>{72,63}</string>
			</dict>

			<key>trashcan_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1164,224},{94,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{94,77}}</string>
				<key>sourceSize</key>
				<string>{94,77}</string>
			</dict>

			<key>trashcan_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1164,302},{91,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{91,88}}</string>
				<key>sourceSize</key>
				<string>{91,88}</string>
			</dict>

			<key>whistle_appear_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1288,1033},{79,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{79,48}}</string>
				<key>sourceSize</key>
				<string>{79,48}</string>
			</dict>

			<key>whistle_appear_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{693,58},{79,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{79,48}}</string>
				<key>sourceSize</key>
				<string>{79,48}</string>
			</dict>

			<key>whistle_appear_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1288,837},{79,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{79,48}}</string>
				<key>sourceSize</key>
				<string>{79,48}</string>
			</dict>

			<key>whistle_appear_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1288,886},{79,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{79,48}}</string>
				<key>sourceSize</key>
				<string>{79,48}</string>
			</dict>

			<key>whistle_appear_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{1288,984},{79,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{79,48}}</string>
				<key>sourceSize</key>
				<string>{79,48}</string>
			</dict>

			<key>whistle_appear_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{1288,935},{79,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{79,48}}</string>
				<key>sourceSize</key>
				<string>{79,48}</string>
			</dict>

			<key>whistle_appear_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{1164,391},{79,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{79,48}}</string>
				<key>sourceSize</key>
				<string>{79,48}</string>
			</dict>

			<key>whistle_appear_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1288,788},{79,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{79,48}}</string>
				<key>sourceSize</key>
				<string>{79,48}</string>
			</dict>

			<key>whistle_appear_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1288,739},{79,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{79,48}}</string>
				<key>sourceSize</key>
				<string>{79,48}</string>
			</dict>

			<key>whistle_appear_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{693,156},{79,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{79,48}}</string>
				<key>sourceSize</key>
				<string>{79,48}</string>
			</dict>

			<key>whistle_appear_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{693,205},{79,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{79,48}}</string>
				<key>sourceSize</key>
				<string>{79,48}</string>
			</dict>

			<key>whistle_appear_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1164,556},{79,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{79,48}}</string>
				<key>sourceSize</key>
				<string>{79,48}</string>
			</dict>

			<key>whistle_appear_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{693,107},{79,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{79,48}}</string>
				<key>sourceSize</key>
				<string>{79,48}</string>
			</dict>

			<key>whistle_appear_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1278,1985},{79,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{79,48}}</string>
				<key>sourceSize</key>
				<string>{79,48}</string>
			</dict>

			<key>whistle_appear_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1256,340},{79,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{79,48}}</string>
				<key>sourceSize</key>
				<string>{79,48}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,2048}</string>
			<key>textureFileName</key>
			<string>gobj.png</string>
			</dict>
		</dict>
</plist>