<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>amon_attack_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{872,325},{171,143}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{171,143}}</string>
				<key>sourceSize</key>
				<string>{171,143}</string>
			</dict>

			<key>amon_back_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{872,613},{171,143}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{171,143}}</string>
				<key>sourceSize</key>
				<string>{171,143}</string>
			</dict>

			<key>amon_counter_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{527,324}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{527,324}}</string>
				<key>sourceSize</key>
				<string>{527,324}</string>
			</dict>

			<key>amon_counter_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,325},{527,324}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{527,324}}</string>
				<key>sourceSize</key>
				<string>{527,324}</string>
			</dict>

			<key>amon_counter_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,650},{527,324}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{527,324}}</string>
				<key>sourceSize</key>
				<string>{527,324}</string>
			</dict>

			<key>amon_counter_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{528,0},{527,324}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{527,324}}</string>
				<key>sourceSize</key>
				<string>{527,324}</string>
			</dict>

			<key>amon_dash_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{700,469},{171,143}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{171,143}}</string>
				<key>sourceSize</key>
				<string>{171,143}</string>
			</dict>

			<key>amon_hit_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{700,325},{171,143}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{171,143}}</string>
				<key>sourceSize</key>
				<string>{171,143}</string>
			</dict>

			<key>amon_idle_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{872,757},{171,143}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{171,143}}</string>
				<key>sourceSize</key>
				<string>{171,143}</string>
			</dict>

			<key>amon_idle_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{872,469},{171,143}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{171,143}}</string>
				<key>sourceSize</key>
				<string>{171,143}</string>
			</dict>

			<key>amon_idle_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{528,469},{171,143}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{171,143}}</string>
				<key>sourceSize</key>
				<string>{171,143}</string>
			</dict>

			<key>amon_idle_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{528,325},{171,143}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{171,143}}</string>
				<key>sourceSize</key>
				<string>{171,143}</string>
			</dict>

			<key>amon_idle_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{528,757},{171,143}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{171,143}}</string>
				<key>sourceSize</key>
				<string>{171,143}</string>
			</dict>

			<key>amon_idle_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{528,613},{171,143}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{171,143}}</string>
				<key>sourceSize</key>
				<string>{171,143}</string>
			</dict>

			<key>amon_idle_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{700,613},{171,143}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{171,143}}</string>
				<key>sourceSize</key>
				<string>{171,143}</string>
			</dict>

			<key>amon_idle_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{700,757},{171,143}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{171,143}}</string>
				<key>sourceSize</key>
				<string>{171,143}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,1024}</string>
			<key>textureFileName</key>
			<string>amonson.png</string>
			</dict>
		</dict>
</plist>