<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>avere_attack_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{675,886},{262,442}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{262,442}}</string>
				<key>sourceSize</key>
				<string>{262,442}</string>
			</dict>

			<key>avere_attack_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{675,886},{262,442}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{262,442}}</string>
				<key>sourceSize</key>
				<string>{262,442}</string>
			</dict>

			<key>avere_attack_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{387,442}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{387,442}}</string>
				<key>sourceSize</key>
				<string>{387,442}</string>
			</dict>

			<key>avere_attack_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,443},{387,442}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{387,442}}</string>
				<key>sourceSize</key>
				<string>{387,442}</string>
			</dict>

			<key>avere_attack_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{388,443},{279,442}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{279,442}}</string>
				<key>sourceSize</key>
				<string>{279,442}</string>
			</dict>

			<key>avere_back_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{388,0},{307,442}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{307,442}}</string>
				<key>sourceSize</key>
				<string>{307,442}</string>
			</dict>

			<key>avere_charge_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{696,0},{226,442}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{226,442}}</string>
				<key>sourceSize</key>
				<string>{226,442}</string>
			</dict>

			<key>avere_counter_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,886},{348,442}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{348,442}}</string>
				<key>sourceSize</key>
				<string>{348,442}</string>
			</dict>

			<key>avere_counter_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1329},{339,442}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{339,442}}</string>
				<key>sourceSize</key>
				<string>{339,442}</string>
			</dict>

			<key>avere_counter_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{340,1329},{338,442}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{338,442}}</string>
				<key>sourceSize</key>
				<string>{338,442}</string>
			</dict>

			<key>avere_counter_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{349,886},{325,442}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{325,442}}</string>
				<key>sourceSize</key>
				<string>{325,442}</string>
			</dict>

			<key>avere_dash_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{668,443},{270,442}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{270,442}}</string>
				<key>sourceSize</key>
				<string>{270,442}</string>
			</dict>

			<key>avere_hit_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{679,1329},{228,442}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{228,442}}</string>
				<key>sourceSize</key>
				<string>{228,442}</string>
			</dict>

			<key>avere_idle_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{938,886},{208,442}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{208,442}}</string>
				<key>sourceSize</key>
				<string>{208,442}</string>
			</dict>

			<key>avere_idle_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{939,443},{208,442}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{208,442}}</string>
				<key>sourceSize</key>
				<string>{208,442}</string>
			</dict>

			<key>avere_idle_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{923,0},{208,442}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{208,442}}</string>
				<key>sourceSize</key>
				<string>{208,442}</string>
			</dict>

			<key>avere_idle_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{908,1329},{208,442}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{208,442}}</string>
				<key>sourceSize</key>
				<string>{208,442}</string>
			</dict>

			<key>avere_idle_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{1148,443},{208,442}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{208,442}}</string>
				<key>sourceSize</key>
				<string>{208,442}</string>
			</dict>

			<key>avere_idle_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{1132,0},{208,442}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{208,442}}</string>
				<key>sourceSize</key>
				<string>{208,442}</string>
			</dict>

			<key>avere_idle_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{1117,1329},{208,442}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{208,442}}</string>
				<key>sourceSize</key>
				<string>{208,442}</string>
			</dict>

			<key>avere_idle_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{1147,886},{208,442}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{208,442}}</string>
				<key>sourceSize</key>
				<string>{208,442}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,2048}</string>
			<key>textureFileName</key>
			<string>avere.png</string>
			</dict>
		</dict>
</plist>