<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>blackyard_attack_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{1488,1368},{329,599}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{329,599}}</string>
				<key>sourceSize</key>
				<string>{329,599}</string>
			</dict>

			<key>blackyard_attack_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{1488,1368},{329,599}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{329,599}}</string>
				<key>sourceSize</key>
				<string>{329,599}</string>
			</dict>

			<key>blackyard_attack_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{469,542}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{469,542}}</string>
				<key>sourceSize</key>
				<string>{469,542}</string>
			</dict>

			<key>blackyard_attack_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1027},{407,422}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{407,422}}</string>
				<key>sourceSize</key>
				<string>{407,422}</string>
			</dict>

			<key>blackyard_attack_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1027},{407,422}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{407,422}}</string>
				<key>sourceSize</key>
				<string>{407,422}</string>
			</dict>

			<key>blackyard_back_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{399,1450},{390,453}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{390,453}}</string>
				<key>sourceSize</key>
				<string>{390,453}</string>
			</dict>

			<key>blackyard_charge_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{1168,0},{327,448}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{327,448}}</string>
				<key>sourceSize</key>
				<string>{327,448}</string>
			</dict>

			<key>blackyard_counter_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{408,1027},{384,412}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{384,412}}</string>
				<key>sourceSize</key>
				<string>{384,412}</string>
			</dict>

			<key>blackyard_counter_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,543},{426,483}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{426,483}}</string>
				<key>sourceSize</key>
				<string>{426,483}</string>
			</dict>

			<key>blackyard_counter_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{1491,449},{320,520}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{320,520}}</string>
				<key>sourceSize</key>
				<string>{320,520}</string>
			</dict>

			<key>blackyard_counter_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{1491,449},{320,520}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{320,520}}</string>
				<key>sourceSize</key>
				<string>{320,520}</string>
			</dict>

			<key>blackyard_dash_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1450},{398,435}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{398,435}}</string>
				<key>sourceSize</key>
				<string>{398,435}</string>
			</dict>

			<key>blackyard_hit_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{427,543},{362,454}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{362,454}}</string>
				<key>sourceSize</key>
				<string>{362,454}</string>
			</dict>

			<key>blackyard_idle_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{470,0},{348,455}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{348,455}}</string>
				<key>sourceSize</key>
				<string>{348,455}</string>
			</dict>

			<key>blackyard_idle_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{1139,456},{348,455}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{348,455}}</string>
				<key>sourceSize</key>
				<string>{348,455}</string>
			</dict>

			<key>blackyard_idle_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{819,0},{348,455}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{348,455}}</string>
				<key>sourceSize</key>
				<string>{348,455}</string>
			</dict>

			<key>blackyard_idle_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{793,912},{348,455}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{348,455}}</string>
				<key>sourceSize</key>
				<string>{348,455}</string>
			</dict>

			<key>blackyard_idle_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{790,456},{348,455}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{348,455}}</string>
				<key>sourceSize</key>
				<string>{348,455}</string>
			</dict>

			<key>blackyard_idle_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{1142,912},{348,455}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{348,455}}</string>
				<key>sourceSize</key>
				<string>{348,455}</string>
			</dict>

			<key>blackyard_idle_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{1139,1368},{348,455}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{348,455}}</string>
				<key>sourceSize</key>
				<string>{348,455}</string>
			</dict>

			<key>blackyard_idle_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{790,1440},{348,455}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{348,455}}</string>
				<key>sourceSize</key>
				<string>{348,455}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,2048}</string>
			<key>textureFileName</key>
			<string>blackyard.png</string>
			</dict>
		</dict>
</plist>