<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>princeCas_attack_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{1035,0},{251,419}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{251,419}}</string>
				<key>sourceSize</key>
				<string>{251,419}</string>
			</dict>

			<key>princeCas_attack_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,840},{423,419}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{423,419}}</string>
				<key>sourceSize</key>
				<string>{423,419}</string>
			</dict>

			<key>princeCas_attack_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{423,419}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{423,419}}</string>
				<key>sourceSize</key>
				<string>{423,419}</string>
			</dict>

			<key>princeCas_attack_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,420},{423,419}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{423,419}}</string>
				<key>sourceSize</key>
				<string>{423,419}</string>
			</dict>

			<key>princeCas_attack_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,420},{423,419}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{423,419}}</string>
				<key>sourceSize</key>
				<string>{423,419}</string>
			</dict>

			<key>princeCas_back_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{424,420},{338,419}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{338,419}}</string>
				<key>sourceSize</key>
				<string>{338,419}</string>
			</dict>

			<key>princeCas_charge_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{1244,1260},{239,419}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{239,419}}</string>
				<key>sourceSize</key>
				<string>{239,419}</string>
			</dict>

			<key>princeCas_counter_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{424,840},{306,419}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{306,419}}</string>
				<key>sourceSize</key>
				<string>{306,419}</string>
			</dict>

			<key>princeCas_counter_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{424,0},{356,419}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{356,419}}</string>
				<key>sourceSize</key>
				<string>{356,419}</string>
			</dict>

			<key>princeCas_counter_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1260},{368,419}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{368,419}}</string>
				<key>sourceSize</key>
				<string>{368,419}</string>
			</dict>

			<key>princeCas_counter_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{369,1260},{366,419}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{366,419}}</string>
				<key>sourceSize</key>
				<string>{366,419}</string>
			</dict>

			<key>princeCas_dash_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{1287,0},{244,419}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{244,419}}</string>
				<key>sourceSize</key>
				<string>{244,419}</string>
			</dict>

			<key>princeCas_hit_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{1271,420},{246,419}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{246,419}}</string>
				<key>sourceSize</key>
				<string>{246,419}</string>
			</dict>

			<key>princeCas_idle_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{731,840},{253,419}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{253,419}}</string>
				<key>sourceSize</key>
				<string>{253,419}</string>
			</dict>

			<key>princeCas_idle_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{990,1260},{253,419}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{253,419}}</string>
				<key>sourceSize</key>
				<string>{253,419}</string>
			</dict>

			<key>princeCas_idle_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{781,0},{253,419}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{253,419}}</string>
				<key>sourceSize</key>
				<string>{253,419}</string>
			</dict>

			<key>princeCas_idle_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{1017,420},{253,419}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{253,419}}</string>
				<key>sourceSize</key>
				<string>{253,419}</string>
			</dict>

			<key>princeCas_idle_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{736,1260},{253,419}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{253,419}}</string>
				<key>sourceSize</key>
				<string>{253,419}</string>
			</dict>

			<key>princeCas_idle_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{985,840},{253,419}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{253,419}}</string>
				<key>sourceSize</key>
				<string>{253,419}</string>
			</dict>

			<key>princeCas_idle_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{763,420},{253,419}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{253,419}}</string>
				<key>sourceSize</key>
				<string>{253,419}</string>
			</dict>

			<key>princeCas_idle_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{1239,840},{253,419}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{253,419}}</string>
				<key>sourceSize</key>
				<string>{253,419}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,2048}</string>
			<key>textureFileName</key>
			<string>enemy.png</string>
			</dict>
		</dict>
</plist>