<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>grin_attack_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{1653,0},{346,373}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{346,373}}</string>
				<key>sourceSize</key>
				<string>{346,373}</string>
			</dict>

			<key>grin_attack_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{501,503}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{501,503}}</string>
				<key>sourceSize</key>
				<string>{501,503}</string>
			</dict>

			<key>grin_attack_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{1282,0},{370,503}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{370,503}}</string>
				<key>sourceSize</key>
				<string>{370,503}</string>
			</dict>

			<key>grin_attack_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{408,914},{362,362}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{362,362}}</string>
				<key>sourceSize</key>
				<string>{362,362}</string>
			</dict>

			<key>grin_attack_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1679},{368,367}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{368,367}}</string>
				<key>sourceSize</key>
				<string>{368,367}</string>
			</dict>

			<key>grin_back_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{1171,1610},{370,388}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{370,388}}</string>
				<key>sourceSize</key>
				<string>{370,388}</string>
			</dict>

			<key>grin_charge_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{1542,1610},{368,415}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{368,415}}</string>
				<key>sourceSize</key>
				<string>{368,415}</string>
			</dict>

			<key>grin_counter_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,895},{407,395}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{407,395}}</string>
				<key>sourceSize</key>
				<string>{407,395}</string>
			</dict>

			<key>grin_counter_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,504},{439,390}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{439,390}}</string>
				<key>sourceSize</key>
				<string>{439,390}</string>
			</dict>

			<key>grin_counter_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{1561,504},{366,389}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{366,389}}</string>
				<key>sourceSize</key>
				<string>{366,389}</string>
			</dict>

			<key>grin_counter_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{1561,894},{364,389}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{364,389}}</string>
				<key>sourceSize</key>
				<string>{364,389}</string>
			</dict>

			<key>grin_dash_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{1171,1230},{372,379}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{372,379}}</string>
				<key>sourceSize</key>
				<string>{372,379}</string>
			</dict>

			<key>grin_hit_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1291},{390,387}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{390,387}}</string>
				<key>sourceSize</key>
				<string>{390,387}</string>
			</dict>

			<key>grin_idle_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{781,914},{389,409}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{389,409}}</string>
				<key>sourceSize</key>
				<string>{389,409}</string>
			</dict>

			<key>grin_idle_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{502,0},{389,409}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{389,409}}</string>
				<key>sourceSize</key>
				<string>{389,409}</string>
			</dict>

			<key>grin_idle_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{440,504},{389,409}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{389,409}}</string>
				<key>sourceSize</key>
				<string>{389,409}</string>
			</dict>

			<key>grin_idle_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{391,1291},{389,409}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{389,409}}</string>
				<key>sourceSize</key>
				<string>{389,409}</string>
			</dict>

			<key>grin_idle_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{892,0},{389,409}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{389,409}}</string>
				<key>sourceSize</key>
				<string>{389,409}</string>
			</dict>

			<key>grin_idle_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{781,1324},{389,409}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{389,409}}</string>
				<key>sourceSize</key>
				<string>{389,409}</string>
			</dict>

			<key>grin_idle_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{1171,820},{389,409}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{389,409}}</string>
				<key>sourceSize</key>
				<string>{389,409}</string>
			</dict>

			<key>grin_idle_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{830,410},{389,409}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{389,409}}</string>
				<key>sourceSize</key>
				<string>{389,409}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,2048}</string>
			<key>textureFileName</key>
			<string>grindiok.png</string>
			</dict>
		</dict>
</plist>