<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>stromu_attack_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{1256,0},{325,430}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{325,430}}</string>
				<key>sourceSize</key>
				<string>{325,430}</string>
			</dict>

			<key>stromu_attack_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{1256,0},{325,430}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{325,430}}</string>
				<key>sourceSize</key>
				<string>{325,430}</string>
			</dict>

			<key>stromu_attack_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{467,392}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{467,392}}</string>
				<key>sourceSize</key>
				<string>{467,392}</string>
			</dict>

			<key>stromu_attack_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,393},{467,392}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{467,392}}</string>
				<key>sourceSize</key>
				<string>{467,392}</string>
			</dict>

			<key>stromu_attack_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,786},{467,392}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{467,392}}</string>
				<key>sourceSize</key>
				<string>{467,392}</string>
			</dict>

			<key>stromu_back_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1569},{404,430}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{404,430}}</string>
				<key>sourceSize</key>
				<string>{404,430}</string>
			</dict>

			<key>stromu_charge_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{1580,431},{294,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{294,400}}</string>
				<key>sourceSize</key>
				<string>{294,400}</string>
			</dict>

			<key>stromu_counter_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{1256,431},{323,412}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{323,412}}</string>
				<key>sourceSize</key>
				<string>{323,412}</string>
			</dict>

			<key>stromu_counter_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{405,1569},{394,430}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{394,430}}</string>
				<key>sourceSize</key>
				<string>{394,430}</string>
			</dict>

			<key>stromu_counter_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{1256,844},{320,396}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{320,396}}</string>
				<key>sourceSize</key>
				<string>{320,396}</string>
			</dict>

			<key>stromu_counter_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{1577,844},{318,396}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{318,396}}</string>
				<key>sourceSize</key>
				<string>{318,396}</string>
			</dict>

			<key>stromu_dash_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1179},{429,389}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{429,389}}</string>
				<key>sourceSize</key>
				<string>{429,389}</string>
			</dict>

			<key>stromu_hit_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{1582,0},{317,421}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{317,421}}</string>
				<key>sourceSize</key>
				<string>{317,421}</string>
			</dict>

			<key>stromu_idle_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{468,0},{393,418}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{393,418}}</string>
				<key>sourceSize</key>
				<string>{393,418}</string>
			</dict>

			<key>stromu_idle_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{468,419},{393,418}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{393,418}}</string>
				<key>sourceSize</key>
				<string>{393,418}</string>
			</dict>

			<key>stromu_idle_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{468,838},{393,418}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{393,418}}</string>
				<key>sourceSize</key>
				<string>{393,418}</string>
			</dict>

			<key>stromu_idle_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{862,0},{393,418}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{393,418}}</string>
				<key>sourceSize</key>
				<string>{393,418}</string>
			</dict>

			<key>stromu_idle_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{862,419},{393,418}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{393,418}}</string>
				<key>sourceSize</key>
				<string>{393,418}</string>
			</dict>

			<key>stromu_idle_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{800,1257},{393,418}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{393,418}}</string>
				<key>sourceSize</key>
				<string>{393,418}</string>
			</dict>

			<key>stromu_idle_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{862,838},{393,418}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{393,418}}</string>
				<key>sourceSize</key>
				<string>{393,418}</string>
			</dict>

			<key>stromu_idle_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{1194,1257},{393,418}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{393,418}}</string>
				<key>sourceSize</key>
				<string>{393,418}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,2048}</string>
			<key>textureFileName</key>
			<string>stromulex.png</string>
			</dict>
		</dict>
</plist>