<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>anim_bub_amethyst_burst_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{405,196},{80,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,97}}</string>
				<key>sourceSize</key>
				<string>{80,97}</string>
			</dict>

			<key>anim_bub_amethyst_burst_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{405,98},{80,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,97}}</string>
				<key>sourceSize</key>
				<string>{80,97}</string>
			</dict>

			<key>anim_bub_amethyst_burst_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{405,294},{80,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,97}}</string>
				<key>sourceSize</key>
				<string>{80,97}</string>
			</dict>

			<key>anim_bub_amethyst_burst_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{324,392},{80,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,97}}</string>
				<key>sourceSize</key>
				<string>{80,97}</string>
			</dict>

			<key>anim_bub_amethyst_burst_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{324,294},{80,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,97}}</string>
				<key>sourceSize</key>
				<string>{80,97}</string>
			</dict>

			<key>anim_bub_amethyst_idle_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{324,196},{80,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,97}}</string>
				<key>sourceSize</key>
				<string>{80,97}</string>
			</dict>

			<key>anim_bub_amethyst_idle_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{324,98},{80,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,97}}</string>
				<key>sourceSize</key>
				<string>{80,97}</string>
			</dict>

			<key>anim_bub_amethyst_idle_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{324,0},{80,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,97}}</string>
				<key>sourceSize</key>
				<string>{80,97}</string>
			</dict>

			<key>anim_bub_amethyst_idle_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{243,392},{80,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,97}}</string>
				<key>sourceSize</key>
				<string>{80,97}</string>
			</dict>

			<key>anim_bub_amethyst_still.png</key>
			<dict>
				<key>frame</key>
				<string>{{243,294},{80,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,97}}</string>
				<key>sourceSize</key>
				<string>{80,97}</string>
			</dict>

			<key>anim_bub_badGem_burst_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{243,196},{80,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,97}}</string>
				<key>sourceSize</key>
				<string>{80,97}</string>
			</dict>

			<key>anim_bub_badGem_burst_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{243,98},{80,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,97}}</string>
				<key>sourceSize</key>
				<string>{80,97}</string>
			</dict>

			<key>anim_bub_badGem_burst_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{243,0},{80,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,97}}</string>
				<key>sourceSize</key>
				<string>{80,97}</string>
			</dict>

			<key>anim_bub_badGem_burst_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{162,392},{80,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,97}}</string>
				<key>sourceSize</key>
				<string>{80,97}</string>
			</dict>

			<key>anim_bub_badGem_burst_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{162,294},{80,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,97}}</string>
				<key>sourceSize</key>
				<string>{80,97}</string>
			</dict>

			<key>anim_bub_badGem_idle_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{162,196},{80,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,97}}</string>
				<key>sourceSize</key>
				<string>{80,97}</string>
			</dict>

			<key>anim_bub_badGem_idle_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{162,98},{80,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,97}}</string>
				<key>sourceSize</key>
				<string>{80,97}</string>
			</dict>

			<key>anim_bub_badGem_idle_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{162,0},{80,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,97}}</string>
				<key>sourceSize</key>
				<string>{80,97}</string>
			</dict>

			<key>anim_bub_badGem_idle_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{81,392},{80,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,97}}</string>
				<key>sourceSize</key>
				<string>{80,97}</string>
			</dict>

			<key>anim_bub_badGem_still.png</key>
			<dict>
				<key>frame</key>
				<string>{{81,294},{80,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,97}}</string>
				<key>sourceSize</key>
				<string>{80,97}</string>
			</dict>

			<key>anim_bub_garnet_burst_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{81,196},{80,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,97}}</string>
				<key>sourceSize</key>
				<string>{80,97}</string>
			</dict>

			<key>anim_bub_garnet_burst_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{81,98},{80,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,97}}</string>
				<key>sourceSize</key>
				<string>{80,97}</string>
			</dict>

			<key>anim_bub_garnet_burst_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{81,0},{80,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,97}}</string>
				<key>sourceSize</key>
				<string>{80,97}</string>
			</dict>

			<key>anim_bub_garnet_burst_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,392},{80,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,97}}</string>
				<key>sourceSize</key>
				<string>{80,97}</string>
			</dict>

			<key>anim_bub_garnet_burst_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,294},{80,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,97}}</string>
				<key>sourceSize</key>
				<string>{80,97}</string>
			</dict>

			<key>anim_bub_garnet_idle_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,196},{80,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,97}}</string>
				<key>sourceSize</key>
				<string>{80,97}</string>
			</dict>

			<key>anim_bub_garnet_idle_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,98},{80,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,97}}</string>
				<key>sourceSize</key>
				<string>{80,97}</string>
			</dict>

			<key>anim_bub_garnet_idle_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{80,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,97}}</string>
				<key>sourceSize</key>
				<string>{80,97}</string>
			</dict>

			<key>anim_bub_garnet_idle_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{405,0},{80,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,97}}</string>
				<key>sourceSize</key>
				<string>{80,97}</string>
			</dict>

			<key>anim_bub_garnet_still.png</key>
			<dict>
				<key>frame</key>
				<string>{{729,392},{80,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,97}}</string>
				<key>sourceSize</key>
				<string>{80,97}</string>
			</dict>

			<key>anim_bub_pearl_burst_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{729,294},{80,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,97}}</string>
				<key>sourceSize</key>
				<string>{80,97}</string>
			</dict>

			<key>anim_bub_pearl_burst_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{729,196},{80,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,97}}</string>
				<key>sourceSize</key>
				<string>{80,97}</string>
			</dict>

			<key>anim_bub_pearl_burst_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{729,98},{80,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,97}}</string>
				<key>sourceSize</key>
				<string>{80,97}</string>
			</dict>

			<key>anim_bub_pearl_burst_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{729,0},{80,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,97}}</string>
				<key>sourceSize</key>
				<string>{80,97}</string>
			</dict>

			<key>anim_bub_pearl_burst_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{648,392},{80,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,97}}</string>
				<key>sourceSize</key>
				<string>{80,97}</string>
			</dict>

			<key>anim_bub_pearl_idle_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{648,294},{80,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,97}}</string>
				<key>sourceSize</key>
				<string>{80,97}</string>
			</dict>

			<key>anim_bub_pearl_idle_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{648,196},{80,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,97}}</string>
				<key>sourceSize</key>
				<string>{80,97}</string>
			</dict>

			<key>anim_bub_pearl_idle_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{648,98},{80,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,97}}</string>
				<key>sourceSize</key>
				<string>{80,97}</string>
			</dict>

			<key>anim_bub_pearl_idle_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{648,0},{80,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,97}}</string>
				<key>sourceSize</key>
				<string>{80,97}</string>
			</dict>

			<key>anim_bub_pearl_still.png</key>
			<dict>
				<key>frame</key>
				<string>{{567,392},{80,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,97}}</string>
				<key>sourceSize</key>
				<string>{80,97}</string>
			</dict>

			<key>anim_bub_steven_burst_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{567,294},{80,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,97}}</string>
				<key>sourceSize</key>
				<string>{80,97}</string>
			</dict>

			<key>anim_bub_steven_burst_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{567,196},{80,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,97}}</string>
				<key>sourceSize</key>
				<string>{80,97}</string>
			</dict>

			<key>anim_bub_steven_burst_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{567,98},{80,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,97}}</string>
				<key>sourceSize</key>
				<string>{80,97}</string>
			</dict>

			<key>anim_bub_steven_burst_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{567,0},{80,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,97}}</string>
				<key>sourceSize</key>
				<string>{80,97}</string>
			</dict>

			<key>anim_bub_steven_burst_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{486,392},{80,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,97}}</string>
				<key>sourceSize</key>
				<string>{80,97}</string>
			</dict>

			<key>anim_bub_steven_idle_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{486,294},{80,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,97}}</string>
				<key>sourceSize</key>
				<string>{80,97}</string>
			</dict>

			<key>anim_bub_steven_idle_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{486,196},{80,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,97}}</string>
				<key>sourceSize</key>
				<string>{80,97}</string>
			</dict>

			<key>anim_bub_steven_idle_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{486,98},{80,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,97}}</string>
				<key>sourceSize</key>
				<string>{80,97}</string>
			</dict>

			<key>anim_bub_steven_idle_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{486,0},{80,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,97}}</string>
				<key>sourceSize</key>
				<string>{80,97}</string>
			</dict>

			<key>anim_bub_steven_still.png</key>
			<dict>
				<key>frame</key>
				<string>{{405,392},{80,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,97}}</string>
				<key>sourceSize</key>
				<string>{80,97}</string>
			</dict>

			<key>obj_bubble_grid.png</key>
			<dict>
				<key>frame</key>
				<string>{{810,0},{74,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{74,85}}</string>
				<key>sourceSize</key>
				<string>{74,85}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{1024,512}</string>
			<key>textureFileName</key>
			<string>bubblegem.png</string>
			</dict>
		</dict>
</plist>