<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>fx_actionCharge_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,874},{160,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{160,45}}</string>
				<key>sourceSize</key>
				<string>{160,45}</string>
			</dict>

			<key>fx_actionCharge_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,920},{160,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{160,45}}</string>
				<key>sourceSize</key>
				<string>{160,45}</string>
			</dict>

			<key>fx_actionCharge_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{161,828},{160,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{160,45}}</string>
				<key>sourceSize</key>
				<string>{160,45}</string>
			</dict>

			<key>fx_actionCharge_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{161,874},{160,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{160,45}}</string>
				<key>sourceSize</key>
				<string>{160,45}</string>
			</dict>

			<key>fx_actionCharge_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,966},{160,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{160,45}}</string>
				<key>sourceSize</key>
				<string>{160,45}</string>
			</dict>

			<key>fx_actionCharge_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,828},{160,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{160,45}}</string>
				<key>sourceSize</key>
				<string>{160,45}</string>
			</dict>

			<key>fx_actionCharge_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{161,920},{160,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{160,45}}</string>
				<key>sourceSize</key>
				<string>{160,45}</string>
			</dict>

			<key>fx_atk.png</key>
			<dict>
				<key>frame</key>
				<string>{{877,873},{118,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{118,91}}</string>
				<key>sourceSize</key>
				<string>{118,91}</string>
			</dict>

			<key>fx_chAtk.png</key>
			<dict>
				<key>frame</key>
				<string>{{1074,873},{76,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{76,76}}</string>
				<key>sourceSize</key>
				<string>{76,76}</string>
			</dict>

			<key>fx_chCtr.png</key>
			<dict>
				<key>frame</key>
				<string>{{996,873},{77,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{77,76}}</string>
				<key>sourceSize</key>
				<string>{77,76}</string>
			</dict>

			<key>fx_ctr.png</key>
			<dict>
				<key>frame</key>
				<string>{{728,291},{119,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{119,91}}</string>
				<key>sourceSize</key>
				<string>{119,91}</string>
			</dict>

			<key>fx_death_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{535,414},{170,290}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{170,290}}</string>
				<key>sourceSize</key>
				<string>{170,290}</string>
			</dict>

			<key>fx_death_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{364,705},{170,290}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{170,290}}</string>
				<key>sourceSize</key>
				<string>{170,290}</string>
			</dict>

			<key>fx_death_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{899,0},{170,290}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{170,290}}</string>
				<key>sourceSize</key>
				<string>{170,290}</string>
			</dict>

			<key>fx_death_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1048,291},{170,290}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{170,290}}</string>
				<key>sourceSize</key>
				<string>{170,290}</string>
			</dict>

			<key>fx_death_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{1561,582},{170,290}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{170,290}}</string>
				<key>sourceSize</key>
				<string>{170,290}</string>
			</dict>

			<key>fx_death_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{1561,291},{170,290}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{170,290}}</string>
				<key>sourceSize</key>
				<string>{170,290}</string>
			</dict>

			<key>fx_death_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{1390,582},{170,290}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{170,290}}</string>
				<key>sourceSize</key>
				<string>{170,290}</string>
			</dict>

			<key>fx_death_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{1412,0},{170,290}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{170,290}}</string>
				<key>sourceSize</key>
				<string>{170,290}</string>
			</dict>

			<key>fx_death_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{706,705},{170,290}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{170,290}}</string>
				<key>sourceSize</key>
				<string>{170,290}</string>
			</dict>

			<key>fx_death_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{706,414},{170,290}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{170,290}}</string>
				<key>sourceSize</key>
				<string>{170,290}</string>
			</dict>

			<key>fx_death_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{728,0},{170,290}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{170,290}}</string>
				<key>sourceSize</key>
				<string>{170,290}</string>
			</dict>

			<key>fx_death_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{1241,0},{170,290}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{170,290}}</string>
				<key>sourceSize</key>
				<string>{170,290}</string>
			</dict>

			<key>fx_death_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{364,414},{170,290}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{170,290}}</string>
				<key>sourceSize</key>
				<string>{170,290}</string>
			</dict>

			<key>fx_death_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{535,705},{170,290}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{170,290}}</string>
				<key>sourceSize</key>
				<string>{170,290}</string>
			</dict>

			<key>fx_death_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1219,582},{170,290}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{170,290}}</string>
				<key>sourceSize</key>
				<string>{170,290}</string>
			</dict>

			<key>fx_death_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1048,582},{170,290}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{170,290}}</string>
				<key>sourceSize</key>
				<string>{170,290}</string>
			</dict>

			<key>fx_death_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1070,0},{170,290}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{170,290}}</string>
				<key>sourceSize</key>
				<string>{170,290}</string>
			</dict>

			<key>fx_death_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1219,291},{170,290}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{170,290}}</string>
				<key>sourceSize</key>
				<string>{170,290}</string>
			</dict>

			<key>fx_death_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{877,582},{170,290}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{170,290}}</string>
				<key>sourceSize</key>
				<string>{170,290}</string>
			</dict>

			<key>fx_death_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{877,291},{170,290}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{170,290}}</string>
				<key>sourceSize</key>
				<string>{170,290}</string>
			</dict>

			<key>fx_death_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1390,291},{170,290}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{170,290}}</string>
				<key>sourceSize</key>
				<string>{170,290}</string>
			</dict>

			<key>fx_hit_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{364,0},{363,413}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{363,413}}</string>
				<key>sourceSize</key>
				<string>{363,413}</string>
			</dict>

			<key>fx_hit_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,414},{363,413}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{363,413}}</string>
				<key>sourceSize</key>
				<string>{363,413}</string>
			</dict>

			<key>fx_hit_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{363,413}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{363,413}}</string>
				<key>sourceSize</key>
				<string>{363,413}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,1024}</string>
			<key>textureFileName</key>
			<string>fx2.png</string>
			</dict>
		</dict>
</plist>