@font-face {
    font-family: 'Luckiest Guy';
    src: url('../fonts/LuckiestGuy.ttf');
}

@font-face {
    font-family: 'Irish Grover';
    src: url('../fonts/IrishGrover.ttf');
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Regular.ttf');
}

@font-face {
    font-family: 'Bowlby One SC';
    src: url('../fonts/Exo-ExtraBold.ttf');
}

@font-face {
    font-family: 'Source Serif Pro';
    src: url('../fonts/SourceSerifPro-Regular.ttf');
}




