<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>avere.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1464},{618,504}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{618,504}}</string>
				<key>sourceSize</key>
				<string>{618,504}</string>
			</dict>

			<key>blackyard.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,519},{869,668}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{869,668}}</string>
				<key>sourceSize</key>
				<string>{869,668}</string>
			</dict>

			<key>border.png</key>
			<dict>
				<key>frame</key>
				<string>{{1171,1105},{2,210}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{2,210}}</string>
				<key>sourceSize</key>
				<string>{2,210}</string>
			</dict>

			<key>bubble0.png</key>
			<dict>
				<key>frame</key>
				<string>{{981,0},{496,273}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{496,273}}</string>
				<key>sourceSize</key>
				<string>{496,273}</string>
			</dict>

			<key>bubble1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1189},{666,273}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{666,273}}</string>
				<key>sourceSize</key>
				<string>{666,273}</string>
			</dict>

			<key>card_charity.png</key>
			<dict>
				<key>frame</key>
				<string>{{1727,1001},{220,319}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,1},{220,319}}</string>
				<key>sourceSize</key>
				<string>{220,320}</string>
			</dict>

			<key>card_cover.png</key>
			<dict>
				<key>frame</key>
				<string>{{1526,1712},{220,320}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{220,320}}</string>
				<key>sourceSize</key>
				<string>{220,320}</string>
			</dict>

			<key>card_max.png</key>
			<dict>
				<key>frame</key>
				<string>{{1748,1643},{220,320}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{220,320}}</string>
				<key>sourceSize</key>
				<string>{220,320}</string>
			</dict>

			<key>card_zabooninin.png</key>
			<dict>
				<key>frame</key>
				<string>{{1727,1322},{220,319}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,1},{220,319}}</string>
				<key>sourceSize</key>
				<string>{220,320}</string>
			</dict>

			<key>castellan.png</key>
			<dict>
				<key>frame</key>
				<string>{{1235,1020},{490,690}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{490,690}}</string>
				<key>sourceSize</key>
				<string>{490,690}</string>
			</dict>

			<key>draw_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1235,1712},{289,151}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{289,151}}</string>
				<key>sourceSize</key>
				<string>{289,152}</string>
			</dict>

			<key>draw_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1235,1865},{289,151}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{289,151}}</string>
				<key>sourceSize</key>
				<string>{289,152}</string>
			</dict>

			<key>grindiok.png</key>
			<dict>
				<key>frame</key>
				<string>{{871,519},{608,499}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{608,499}}</string>
				<key>sourceSize</key>
				<string>{608,499}</string>
			</dict>

			<key>heart.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1970},{53,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{53,44}}</string>
				<key>sourceSize</key>
				<string>{53,44}</string>
			</dict>

			<key>hiroAmonson.png</key>
			<dict>
				<key>frame</key>
				<string>{{620,1464},{613,519}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{613,519}}</string>
				<key>sourceSize</key>
				<string>{613,519}</string>
			</dict>

			<key>john.png</key>
			<dict>
				<key>frame</key>
				<string>{{1481,468},{313,350}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{313,350}}</string>
				<key>sourceSize</key>
				<string>{313,350}</string>
			</dict>

			<key>rogerson.png</key>
			<dict>
				<key>frame</key>
				<string>{{1479,0},{410,466}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{410,466}}</string>
				<key>sourceSize</key>
				<string>{410,466}</string>
			</dict>

			<key>stromulex.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{979,517}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{979,517}}</string>
				<key>sourceSize</key>
				<string>{979,517}</string>
			</dict>

			<key>tag_avere.png</key>
			<dict>
				<key>frame</key>
				<string>{{871,1105},{289,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{289,82}}</string>
				<key>sourceSize</key>
				<string>{402,82}</string>
			</dict>

			<key>tag_blackyard.png</key>
			<dict>
				<key>frame</key>
				<string>{{981,359},{402,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{402,84}}</string>
				<key>sourceSize</key>
				<string>{402,84}</string>
			</dict>

			<key>tag_castillan.png</key>
			<dict>
				<key>frame</key>
				<string>{{981,275},{402,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{402,82}}</string>
				<key>sourceSize</key>
				<string>{402,82}</string>
			</dict>

			<key>tag_grindiok.png</key>
			<dict>
				<key>frame</key>
				<string>{{871,1020},{344,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{344,83}}</string>
				<key>sourceSize</key>
				<string>{402,83}</string>
			</dict>

			<key>tag_hiroAmonsun.png</key>
			<dict>
				<key>frame</key>
				<string>{{668,1189},{501,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{501,112}}</string>
				<key>sourceSize</key>
				<string>{501,112}</string>
			</dict>

			<key>tag_stromulex.png</key>
			<dict>
				<key>frame</key>
				<string>{{668,1303},{402,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{402,82}}</string>
				<key>sourceSize</key>
				<string>{402,82}</string>
			</dict>

			<key>tag_vs.png</key>
			<dict>
				<key>frame</key>
				<string>{{1481,820},{256,179}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{256,179}}</string>
				<key>sourceSize</key>
				<string>{256,179}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,2048}</string>
			<key>textureFileName</key>
			<string>misc.png</string>
			</dict>
		</dict>
</plist>