<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>hiro_attack_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{922,419},{252,418}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{252,418}}</string>
				<key>sourceSize</key>
				<string>{252,418}</string>
			</dict>

			<key>hiro_attack_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{922,419},{252,418}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{252,418}}</string>
				<key>sourceSize</key>
				<string>{252,418}</string>
			</dict>

			<key>hiro_attack_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{371,418}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{371,418}}</string>
				<key>sourceSize</key>
				<string>{371,418}</string>
			</dict>

			<key>hiro_attack_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1257},{304,418}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{304,418}}</string>
				<key>sourceSize</key>
				<string>{304,418}</string>
			</dict>

			<key>hiro_attack_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{865,1257},{271,418}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{271,418}}</string>
				<key>sourceSize</key>
				<string>{271,418}</string>
			</dict>

			<key>hiro_back_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,419},{361,418}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{361,418}}</string>
				<key>sourceSize</key>
				<string>{361,418}</string>
			</dict>

			<key>hiro_charge_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{932,0},{230,418}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{230,418}}</string>
				<key>sourceSize</key>
				<string>{230,418}</string>
			</dict>

			<key>hiro_dash_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,838},{342,418}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{342,418}}</string>
				<key>sourceSize</key>
				<string>{342,418}</string>
			</dict>

			<key>hiro_hit_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{903,838},{268,418}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{268,418}}</string>
				<key>sourceSize</key>
				<string>{268,418}</string>
			</dict>

			<key>hiro_idle_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{362,419},{279,418}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{279,418}}</string>
				<key>sourceSize</key>
				<string>{279,418}</string>
			</dict>

			<key>hiro_idle_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{343,838},{279,418}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{279,418}}</string>
				<key>sourceSize</key>
				<string>{279,418}</string>
			</dict>

			<key>hiro_idle_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{623,838},{279,418}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{279,418}}</string>
				<key>sourceSize</key>
				<string>{279,418}</string>
			</dict>

			<key>hiro_idle_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{372,0},{279,418}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{279,418}}</string>
				<key>sourceSize</key>
				<string>{279,418}</string>
			</dict>

			<key>hiro_idle_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{305,1257},{279,418}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{279,418}}</string>
				<key>sourceSize</key>
				<string>{279,418}</string>
			</dict>

			<key>hiro_idle_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{652,0},{279,418}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{279,418}}</string>
				<key>sourceSize</key>
				<string>{279,418}</string>
			</dict>

			<key>hiro_idle_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{642,419},{279,418}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{279,418}}</string>
				<key>sourceSize</key>
				<string>{279,418}</string>
			</dict>

			<key>hiro_idle_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{585,1257},{279,418}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{279,418}}</string>
				<key>sourceSize</key>
				<string>{279,418}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,2048}</string>
			<key>textureFileName</key>
			<string>player.png</string>
			</dict>
		</dict>
</plist>