<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>btn_left.png</key>
			<dict>
				<key>frame</key>
				<string>{{955,759},{49,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{49,73}}</string>
				<key>sourceSize</key>
				<string>{49,73}</string>
			</dict>

			<key>btn_right.png</key>
			<dict>
				<key>frame</key>
				<string>{{958,590},{49,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{49,74}}</string>
				<key>sourceSize</key>
				<string>{49,74}</string>
			</dict>

			<key>ready_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,597},{531,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{531,103}}</string>
				<key>sourceSize</key>
				<string>{532,103}</string>
			</dict>

			<key>ready_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{589,503},{310,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,0},{310,90}}</string>
				<key>sourceSize</key>
				<string>{311,90}</string>
			</dict>

			<key>ready_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,503},{587,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{587,92}}</string>
				<key>sourceSize</key>
				<string>{588,92}</string>
			</dict>

			<key>ui_btnAtkA.png</key>
			<dict>
				<key>frame</key>
				<string>{{865,123},{102,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{102,75}}</string>
				<key>sourceSize</key>
				<string>{102,75}</string>
			</dict>

			<key>ui_btnAtkG.png</key>
			<dict>
				<key>frame</key>
				<string>{{854,595},{102,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{102,75}}</string>
				<key>sourceSize</key>
				<string>{102,75}</string>
			</dict>

			<key>ui_btnChAtk.png</key>
			<dict>
				<key>frame</key>
				<string>{{814,433},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{60,60}}</string>
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>

			<key>ui_btnChCtr.png</key>
			<dict>
				<key>frame</key>
				<string>{{865,354},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{60,60}}</string>
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>

			<key>ui_btnCtrA.png</key>
			<dict>
				<key>frame</key>
				<string>{{865,200},{102,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{102,75}}</string>
				<key>sourceSize</key>
				<string>{102,75}</string>
			</dict>

			<key>ui_btnCtrG.png</key>
			<dict>
				<key>frame</key>
				<string>{{865,277},{102,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{102,75}}</string>
				<key>sourceSize</key>
				<string>{102,75}</string>
			</dict>

			<key>ui_btnHolder.png</key>
			<dict>
				<key>frame</key>
				<string>{{478,702},{475,168}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{475,168}}</string>
				<key>sourceSize</key>
				<string>{475,168}</string>
			</dict>

			<key>ui_btnHowTo_D.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,937},{381,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,4},{381,59}}</string>
				<key>sourceSize</key>
				<string>{383,63}</string>
			</dict>

			<key>ui_btnHowTo_U.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,872},{381,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{381,63}}</string>
				<key>sourceSize</key>
				<string>{383,63}</string>
			</dict>

			<key>ui_btnPlay_D.png</key>
			<dict>
				<key>frame</key>
				<string>{{533,597},{319,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,5},{319,61}}</string>
				<key>sourceSize</key>
				<string>{320,66}</string>
			</dict>

			<key>ui_btnPlay_U.png</key>
			<dict>
				<key>frame</key>
				<string>{{383,920},{320,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{320,65}}</string>
				<key>sourceSize</key>
				<string>{320,66}</string>
			</dict>

			<key>ui_chargeFill1.png</key>
			<dict>
				<key>frame</key>
				<string>{{962,441},{42,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{42,63}}</string>
				<key>sourceSize</key>
				<string>{42,63}</string>
			</dict>

			<key>ui_chargeFill2.png</key>
			<dict>
				<key>frame</key>
				<string>{{923,959},{42,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{42,63}}</string>
				<key>sourceSize</key>
				<string>{42,63}</string>
			</dict>

			<key>ui_chargeFill3.png</key>
			<dict>
				<key>frame</key>
				<string>{{962,506},{42,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{42,63}}</string>
				<key>sourceSize</key>
				<string>{42,63}</string>
			</dict>

			<key>ui_chargeFillE.png</key>
			<dict>
				<key>frame</key>
				<string>{{879,959},{42,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{42,63}}</string>
				<key>sourceSize</key>
				<string>{42,63}</string>
			</dict>

			<key>ui_defeatContainer.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,175},{689,326}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{689,326}}</string>
				<key>sourceSize</key>
				<string>{689,326}</string>
			</dict>

			<key>ui_enemy1.png</key>
			<dict>
				<key>frame</key>
				<string>{{937,354},{59,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{59,85}}</string>
				<key>sourceSize</key>
				<string>{59,85}</string>
			</dict>

			<key>ui_enemyHolder.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,702},{476,168}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{476,168}}</string>
				<key>sourceSize</key>
				<string>{476,168}</string>
			</dict>

			<key>ui_fill.png</key>
			<dict>
				<key>frame</key>
				<string>{{383,872},{352,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{352,46}}</string>
				<key>sourceSize</key>
				<string>{352,46}</string>
			</dict>

			<key>ui_hiro.png</key>
			<dict>
				<key>frame</key>
				<string>{{940,872},{58,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{58,83}}</string>
				<key>sourceSize</key>
				<string>{58,83}</string>
			</dict>

			<key>ui_iconAvere.png</key>
			<dict>
				<key>frame</key>
				<string>{{943,0},{58,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{58,85}}</string>
				<key>sourceSize</key>
				<string>{58,85}</string>
			</dict>

			<key>ui_iconBlackyard.png</key>
			<dict>
				<key>frame</key>
				<string>{{901,503},{59,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{59,85}}</string>
				<key>sourceSize</key>
				<string>{59,85}</string>
			</dict>

			<key>ui_iconCastillan.png</key>
			<dict>
				<key>frame</key>
				<string>{{955,672},{58,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{58,85}}</string>
				<key>sourceSize</key>
				<string>{58,85}</string>
			</dict>

			<key>ui_iconGrindiok.png</key>
			<dict>
				<key>frame</key>
				<string>{{879,872},{59,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{59,85}}</string>
				<key>sourceSize</key>
				<string>{59,85}</string>
			</dict>

			<key>ui_iconStromulex.png</key>
			<dict>
				<key>frame</key>
				<string>{{876,416},{59,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{59,85}}</string>
				<key>sourceSize</key>
				<string>{59,85}</string>
			</dict>

			<key>ui_levelContainer.png</key>
			<dict>
				<key>frame</key>
				<string>{{691,433},{121,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{121,43}}</string>
				<key>sourceSize</key>
				<string>{121,43}</string>
			</dict>

			<key>ui_nameContainer.png</key>
			<dict>
				<key>frame</key>
				<string>{{533,660},{286,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{286,38}}</string>
				<key>sourceSize</key>
				<string>{286,38}</string>
			</dict>

			<key>ui_newRecord.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,123},{835,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{835,50}}</string>
				<key>sourceSize</key>
				<string>{835,50}</string>
			</dict>

			<key>ui_timerTick_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{691,175},{172,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,0},{172,84}}</string>
				<key>sourceSize</key>
				<string>{182,84}</string>
			</dict>

			<key>ui_timerTick_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{691,261},{172,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,0},{172,84}}</string>
				<key>sourceSize</key>
				<string>{182,84}</string>
			</dict>

			<key>ui_timerTick_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{691,347},{172,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,0},{172,84}}</string>
				<key>sourceSize</key>
				<string>{182,84}</string>
			</dict>

			<key>ui_timerTick_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{705,920},{172,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{7,0},{172,84}}</string>
				<key>sourceSize</key>
				<string>{183,84}</string>
			</dict>

			<key>ui_topbar.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{941,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{941,121}}</string>
				<key>sourceSize</key>
				<string>{941,121}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{1024,1024}</string>
			<key>textureFileName</key>
			<string>ui.png</string>
			</dict>
		</dict>
</plist>