<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>fx_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{276,504},{75,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{75,28}}</string>
				<key>sourceSize</key>
				<string>{75,28}</string>
			</dict>

			<key>fx_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{276,532},{65,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{65,29}}</string>
				<key>sourceSize</key>
				<string>{65,29}</string>
			</dict>

			<key>fx_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,966},{78,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{78,32}}</string>
				<key>sourceSize</key>
				<string>{78,32}</string>
			</dict>

			<key>fx_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{78,966},{52,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{52,38}}</string>
				<key>sourceSize</key>
				<string>{52,38}</string>
			</dict>

			<key>fx_fire_explode_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{138,805},{126,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{126,115}}</string>
				<key>sourceSize</key>
				<string>{126,115}</string>
			</dict>

			<key>fx_fire_explode_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{138,805},{126,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{126,115}}</string>
				<key>sourceSize</key>
				<string>{126,115}</string>
			</dict>

			<key>fx_fire_explode_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{264,805},{126,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{126,115}}</string>
				<key>sourceSize</key>
				<string>{126,115}</string>
			</dict>

			<key>fx_fire_explode_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{264,805},{126,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{126,115}}</string>
				<key>sourceSize</key>
				<string>{126,115}</string>
			</dict>

			<key>fx_fire_explode_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{138,690},{126,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{126,115}}</string>
				<key>sourceSize</key>
				<string>{126,115}</string>
			</dict>

			<key>fx_fire_explode_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{138,690},{126,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{126,115}}</string>
				<key>sourceSize</key>
				<string>{126,115}</string>
			</dict>

			<key>fx_fire_explode_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{264,690},{126,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{126,115}}</string>
				<key>sourceSize</key>
				<string>{126,115}</string>
			</dict>

			<key>fx_fire_explode_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{264,690},{126,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{126,115}}</string>
				<key>sourceSize</key>
				<string>{126,115}</string>
			</dict>

			<key>fx_fire_shoot_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{276,84},{88,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{88,84}}</string>
				<key>sourceSize</key>
				<string>{88,84}</string>
			</dict>

			<key>fx_fire_shoot_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{276,84},{88,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{88,84}}</string>
				<key>sourceSize</key>
				<string>{88,84}</string>
			</dict>

			<key>fx_fire_shoot_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{138,920},{88,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{88,84}}</string>
				<key>sourceSize</key>
				<string>{88,84}</string>
			</dict>

			<key>fx_fire_shoot_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{138,920},{88,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{88,84}}</string>
				<key>sourceSize</key>
				<string>{88,84}</string>
			</dict>

			<key>fx_fire_shoot_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{276,168},{88,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{88,84}}</string>
				<key>sourceSize</key>
				<string>{88,84}</string>
			</dict>

			<key>fx_fire_shoot_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{276,168},{88,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{88,84}}</string>
				<key>sourceSize</key>
				<string>{88,84}</string>
			</dict>

			<key>fx_fire_shoot_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{276,336},{88,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{88,84}}</string>
				<key>sourceSize</key>
				<string>{88,84}</string>
			</dict>

			<key>fx_fire_shoot_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{276,252},{88,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{88,84}}</string>
				<key>sourceSize</key>
				<string>{88,84}</string>
			</dict>

			<key>fx_fire_shoot_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{276,0},{88,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{88,84}}</string>
				<key>sourceSize</key>
				<string>{88,84}</string>
			</dict>

			<key>fx_fire_shoot_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{226,920},{88,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{88,84}}</string>
				<key>sourceSize</key>
				<string>{88,84}</string>
			</dict>

			<key>fx_fire_shoot_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{276,420},{88,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{88,84}}</string>
				<key>sourceSize</key>
				<string>{88,84}</string>
			</dict>

			<key>fx_fire_shoot_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{276,420},{88,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{88,84}}</string>
				<key>sourceSize</key>
				<string>{88,84}</string>
			</dict>

			<key>fx_pickupitem_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{138,552},{138,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{138,138}}</string>
				<key>sourceSize</key>
				<string>{138,138}</string>
			</dict>

			<key>fx_pickupitem_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{138,414},{138,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{138,138}}</string>
				<key>sourceSize</key>
				<string>{138,138}</string>
			</dict>

			<key>fx_pickupitem_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,138},{138,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{138,138}}</string>
				<key>sourceSize</key>
				<string>{138,138}</string>
			</dict>

			<key>fx_pickupitem_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{138,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{138,138}}</string>
				<key>sourceSize</key>
				<string>{138,138}</string>
			</dict>

			<key>fx_pickupitem_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{138,276},{138,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{138,138}}</string>
				<key>sourceSize</key>
				<string>{138,138}</string>
			</dict>

			<key>fx_pickupitem_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{138,138},{138,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{138,138}}</string>
				<key>sourceSize</key>
				<string>{138,138}</string>
			</dict>

			<key>fx_pickupitem_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{138,0},{138,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{138,138}}</string>
				<key>sourceSize</key>
				<string>{138,138}</string>
			</dict>

			<key>fx_pickupitem_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,828},{138,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{138,138}}</string>
				<key>sourceSize</key>
				<string>{138,138}</string>
			</dict>

			<key>fx_pickupitem_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,690},{138,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{138,138}}</string>
				<key>sourceSize</key>
				<string>{138,138}</string>
			</dict>

			<key>fx_pickupitem_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,552},{138,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{138,138}}</string>
				<key>sourceSize</key>
				<string>{138,138}</string>
			</dict>

			<key>fx_pickupitem_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,414},{138,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{138,138}}</string>
				<key>sourceSize</key>
				<string>{138,138}</string>
			</dict>

			<key>fx_pickupitem_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,276},{138,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{138,138}}</string>
				<key>sourceSize</key>
				<string>{138,138}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{512,1024}</string>
			<key>textureFileName</key>
			<string>fx.png</string>
			</dict>
		</dict>
</plist>