<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>skips_popout_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{652,794},{650,395}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{650,395}}</string>
				<key>sourceSize</key>
				<string>{650,395}</string>
			</dict>

			<key>skips_popout_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1304,1191},{650,395}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{650,395}}</string>
				<key>sourceSize</key>
				<string>{650,395}</string>
			</dict>

			<key>skips_popout_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1588},{650,395}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{650,395}}</string>
				<key>sourceSize</key>
				<string>{650,395}</string>
			</dict>

			<key>skips_popout_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1191},{650,395}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{650,395}}</string>
				<key>sourceSize</key>
				<string>{650,395}</string>
			</dict>

			<key>skips_popout_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,794},{650,395}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{650,395}}</string>
				<key>sourceSize</key>
				<string>{650,395}</string>
			</dict>

			<key>skips_popout_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,397},{650,395}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{650,395}}</string>
				<key>sourceSize</key>
				<string>{650,395}</string>
			</dict>

			<key>skips_popout_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{650,395}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{650,395}}</string>
				<key>sourceSize</key>
				<string>{650,395}</string>
			</dict>

			<key>skips_popout_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1304,794},{650,395}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{650,395}}</string>
				<key>sourceSize</key>
				<string>{650,395}</string>
			</dict>

			<key>skips_popout_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1304,397},{650,395}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{650,395}}</string>
				<key>sourceSize</key>
				<string>{650,395}</string>
			</dict>

			<key>skips_popout_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1304,0},{650,395}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{650,395}}</string>
				<key>sourceSize</key>
				<string>{650,395}</string>
			</dict>

			<key>skips_popout_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{652,1588},{650,395}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{650,395}}</string>
				<key>sourceSize</key>
				<string>{650,395}</string>
			</dict>

			<key>skips_popout_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{652,1191},{650,395}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{650,395}}</string>
				<key>sourceSize</key>
				<string>{650,395}</string>
			</dict>

			<key>skips_popout_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1304,1588},{650,395}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{650,395}}</string>
				<key>sourceSize</key>
				<string>{650,395}</string>
			</dict>

			<key>skips_popout_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{652,397},{650,395}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{650,395}}</string>
				<key>sourceSize</key>
				<string>{650,395}</string>
			</dict>

			<key>skips_popout_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{652,0},{650,395}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{650,395}}</string>
				<key>sourceSize</key>
				<string>{650,395}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,2048}</string>
			<key>textureFileName</key>
			<string>skips_head.png</string>
			</dict>
		</dict>
</plist>