<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>bar_fill.png</key>
			<dict>
				<key>frame</key>
				<string>{{332,1371},{307,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{307,50}}</string>
				<key>sourceSize</key>
				<string>{307,50}</string>
			</dict>

			<key>btn_back_D.png</key>
			<dict>
				<key>frame</key>
				<string>{{876,1269},{301,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{301,82}}</string>
				<key>sourceSize</key>
				<string>{301,82}</string>
			</dict>

			<key>btn_back_U.png</key>
			<dict>
				<key>frame</key>
				<string>{{876,1355},{301,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{301,82}}</string>
				<key>sourceSize</key>
				<string>{301,82}</string>
			</dict>

			<key>btn_bomb_D.png</key>
			<dict>
				<key>frame</key>
				<string>{{1292,602},{94,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{94,99}}</string>
				<key>sourceSize</key>
				<string>{94,99}</string>
			</dict>

			<key>btn_bomb_U.png</key>
			<dict>
				<key>frame</key>
				<string>{{1265,1145},{94,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{94,99}}</string>
				<key>sourceSize</key>
				<string>{94,99}</string>
			</dict>

			<key>btn_continue_D.png</key>
			<dict>
				<key>frame</key>
				<string>{{788,430},{301,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{301,82}}</string>
				<key>sourceSize</key>
				<string>{301,82}</string>
			</dict>

			<key>btn_continue_U.png</key>
			<dict>
				<key>frame</key>
				<string>{{788,516},{301,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{301,82}}</string>
				<key>sourceSize</key>
				<string>{301,82}</string>
			</dict>

			<key>btn_howto_D.png</key>
			<dict>
				<key>frame</key>
				<string>{{1093,430},{301,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{301,82}}</string>
				<key>sourceSize</key>
				<string>{301,82}</string>
			</dict>

			<key>btn_howto_U.png</key>
			<dict>
				<key>frame</key>
				<string>{{1093,516},{301,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{301,82}}</string>
				<key>sourceSize</key>
				<string>{301,82}</string>
			</dict>

			<key>btn_next.png</key>
			<dict>
				<key>frame</key>
				<string>{{1355,0},{66,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{66,97}}</string>
				<key>sourceSize</key>
				<string>{66,97}</string>
			</dict>

			<key>btn_play_D.png</key>
			<dict>
				<key>frame</key>
				<string>{{788,228},{392,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{392,82}}</string>
				<key>sourceSize</key>
				<string>{392,82}</string>
			</dict>

			<key>btn_play_U.png</key>
			<dict>
				<key>frame</key>
				<string>{{480,1285},{392,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{392,82}}</string>
				<key>sourceSize</key>
				<string>{392,82}</string>
			</dict>

			<key>btn_player1_D.png</key>
			<dict>
				<key>frame</key>
				<string>{{698,1041},{563,224}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{563,224}}</string>
				<key>sourceSize</key>
				<string>{563,224}</string>
			</dict>

			<key>btn_player1_U.png</key>
			<dict>
				<key>frame</key>
				<string>{{788,0},{563,224}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{563,224}}</string>
				<key>sourceSize</key>
				<string>{563,224}</string>
			</dict>

			<key>btn_player2_D.png</key>
			<dict>
				<key>frame</key>
				<string>{{698,844},{590,193}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{590,193}}</string>
				<key>sourceSize</key>
				<string>{590,193}</string>
			</dict>

			<key>btn_player2_U.png</key>
			<dict>
				<key>frame</key>
				<string>{{698,647},{590,193}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{590,193}}</string>
				<key>sourceSize</key>
				<string>{590,193}</string>
			</dict>

			<key>btn_prev.png</key>
			<dict>
				<key>frame</key>
				<string>{{1355,101},{66,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{66,97}}</string>
				<key>sourceSize</key>
				<string>{66,97}</string>
			</dict>

			<key>counterroulette.png</key>
			<dict>
				<key>frame</key>
				<string>{{1156,314},{228,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{228,108}}</string>
				<key>sourceSize</key>
				<string>{228,108}</string>
			</dict>

			<key>counterscore.png</key>
			<dict>
				<key>frame</key>
				<string>{{1181,1269},{226,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{226,100}}</string>
				<key>sourceSize</key>
				<string>{226,100}</string>
			</dict>

			<key>countertrash.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1369},{328,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{328,80}}</string>
				<key>sourceSize</key>
				<string>{328,80}</string>
			</dict>

			<key>icon_mordecai.png</key>
			<dict>
				<key>frame</key>
				<string>{{1265,1041},{172,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{172,100}}</string>
				<key>sourceSize</key>
				<string>{172,100}</string>
			</dict>

			<key>icon_powerup_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1184,228},{64,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,81}}</string>
				<key>sourceSize</key>
				<string>{64,81}</string>
			</dict>

			<key>icon_powerup_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1309,1373},{76,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{76,76}}</string>
				<key>sourceSize</key>
				<string>{76,76}</string>
			</dict>

			<key>icon_powerup_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1292,910},{83,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{83,86}}</string>
				<key>sourceSize</key>
				<string>{83,86}</string>
			</dict>

			<key>icon_powerup_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{643,1371},{68,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{68,68}}</string>
				<key>sourceSize</key>
				<string>{68,68}</string>
			</dict>

			<key>icon_rigby.png</key>
			<dict>
				<key>frame</key>
				<string>{{1181,1373},{124,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{124,76}}</string>
				<key>sourceSize</key>
				<string>{124,76}</string>
			</dict>

			<key>icon_trash.png</key>
			<dict>
				<key>frame</key>
				<string>{{715,1371},{57,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{57,64}}</string>
				<key>sourceSize</key>
				<string>{57,64}</string>
			</dict>

			<key>mask.png</key>
			<dict>
				<key>frame</key>
				<string>{{332,1425},{5,5}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{5,5}}</string>
				<key>sourceSize</key>
				<string>{5,5}</string>
			</dict>

			<key>panel_circle.png</key>
			<dict>
				<key>frame</key>
				<string>{{1292,705},{94,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{94,94}}</string>
				<key>sourceSize</key>
				<string>{94,94}</string>
			</dict>

			<key>panel_piece.png</key>
			<dict>
				<key>frame</key>
				<string>{{1292,803},{92,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{92,103}}</string>
				<key>sourceSize</key>
				<string>{92,103}</string>
			</dict>

			<key>popout.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{784,643}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{784,643}}</string>
				<key>sourceSize</key>
				<string>{784,643}</string>
			</dict>

			<key>popout_newrecord.png</key>
			<dict>
				<key>frame</key>
				<string>{{788,314},{364,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{364,112}}</string>
				<key>sourceSize</key>
				<string>{364,112}</string>
			</dict>

			<key>results_gameOver.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,647},{694,396}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{694,396}}</string>
				<key>sourceSize</key>
				<string>{694,396}</string>
			</dict>

			<key>results_levelCleared.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1047},{694,234}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{694,234}}</string>
				<key>sourceSize</key>
				<string>{694,234}</string>
			</dict>

			<key>title.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1285},{476,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{476,80}}</string>
				<key>sourceSize</key>
				<string>{476,80}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{1441,1453}</string>
			<key>textureFileName</key>
			<string>ui.png</string>
			</dict>
		</dict>
</plist>