<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>volcano_dizzy_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{825,888},{164,221}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{164,221}}</string>
				<key>sourceSize</key>
				<string>{164,221}</string>
			</dict>

			<key>volcano_dizzy_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{825,888},{164,221}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{164,221}}</string>
				<key>sourceSize</key>
				<string>{164,221}</string>
			</dict>

			<key>volcano_dizzy_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{660,1776},{164,221}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{164,221}}</string>
				<key>sourceSize</key>
				<string>{164,221}</string>
			</dict>

			<key>volcano_dizzy_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{660,1776},{164,221}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{164,221}}</string>
				<key>sourceSize</key>
				<string>{164,221}</string>
			</dict>

			<key>volcano_dizzy_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{660,1554},{164,221}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{164,221}}</string>
				<key>sourceSize</key>
				<string>{164,221}</string>
			</dict>

			<key>volcano_dizzy_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{825,666},{164,221}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{164,221}}</string>
				<key>sourceSize</key>
				<string>{164,221}</string>
			</dict>

			<key>volcano_dizzy_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{825,666},{164,221}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{164,221}}</string>
				<key>sourceSize</key>
				<string>{164,221}</string>
			</dict>

			<key>volcano_dizzy_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{825,444},{164,221}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{164,221}}</string>
				<key>sourceSize</key>
				<string>{164,221}</string>
			</dict>

			<key>volcano_dizzy_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{825,444},{164,221}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{164,221}}</string>
				<key>sourceSize</key>
				<string>{164,221}</string>
			</dict>

			<key>volcano_dizzy_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{825,222},{164,221}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{164,221}}</string>
				<key>sourceSize</key>
				<string>{164,221}</string>
			</dict>

			<key>volcano_dizzy_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{825,222},{164,221}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{164,221}}</string>
				<key>sourceSize</key>
				<string>{164,221}</string>
			</dict>

			<key>volcano_dizzy_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{825,0},{164,221}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{164,221}}</string>
				<key>sourceSize</key>
				<string>{164,221}</string>
			</dict>

			<key>volcano_dizzy_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{825,0},{164,221}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{164,221}}</string>
				<key>sourceSize</key>
				<string>{164,221}</string>
			</dict>

			<key>volcano_fire_E_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{660,1332},{164,221}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{164,221}}</string>
				<key>sourceSize</key>
				<string>{164,221}</string>
			</dict>

			<key>volcano_fire_E_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{660,1110},{164,221}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{164,221}}</string>
				<key>sourceSize</key>
				<string>{164,221}</string>
			</dict>

			<key>volcano_fire_E_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1155,1776},{164,221}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{164,221}}</string>
				<key>sourceSize</key>
				<string>{164,221}</string>
			</dict>

			<key>volcano_fire_E_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{495,1554},{164,221}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{164,221}}</string>
				<key>sourceSize</key>
				<string>{164,221}</string>
			</dict>

			<key>volcano_fire_E_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{495,1332},{164,221}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{164,221}}</string>
				<key>sourceSize</key>
				<string>{164,221}</string>
			</dict>

			<key>volcano_fire_E_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{495,1110},{164,221}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{164,221}}</string>
				<key>sourceSize</key>
				<string>{164,221}</string>
			</dict>

			<key>volcano_fire_E_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{660,1332},{164,221}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{164,221}}</string>
				<key>sourceSize</key>
				<string>{164,221}</string>
			</dict>

			<key>volcano_fire_E_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{660,888},{164,221}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{164,221}}</string>
				<key>sourceSize</key>
				<string>{164,221}</string>
			</dict>

			<key>volcano_fire_E_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{660,666},{164,221}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{164,221}}</string>
				<key>sourceSize</key>
				<string>{164,221}</string>
			</dict>

			<key>volcano_fire_E_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{660,666},{164,221}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{164,221}}</string>
				<key>sourceSize</key>
				<string>{164,221}</string>
			</dict>

			<key>volcano_fire_E_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{660,666},{164,221}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{164,221}}</string>
				<key>sourceSize</key>
				<string>{164,221}</string>
			</dict>

			<key>volcano_fire_E_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{660,444},{164,221}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{164,221}}</string>
				<key>sourceSize</key>
				<string>{164,221}</string>
			</dict>

			<key>volcano_fire_E_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{660,222},{164,221}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{164,221}}</string>
				<key>sourceSize</key>
				<string>{164,221}</string>
			</dict>

			<key>volcano_fire_E_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{660,0},{164,221}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{164,221}}</string>
				<key>sourceSize</key>
				<string>{164,221}</string>
			</dict>

			<key>volcano_fire_E_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{660,0},{164,221}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{164,221}}</string>
				<key>sourceSize</key>
				<string>{164,221}</string>
			</dict>

			<key>volcano_fire_N_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{495,888},{164,221}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{164,221}}</string>
				<key>sourceSize</key>
				<string>{164,221}</string>
			</dict>

			<key>volcano_fire_N_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{495,666},{164,221}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{164,221}}</string>
				<key>sourceSize</key>
				<string>{164,221}</string>
			</dict>

			<key>volcano_fire_N_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{330,1110},{164,221}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{164,221}}</string>
				<key>sourceSize</key>
				<string>{164,221}</string>
			</dict>

			<key>volcano_fire_N_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{330,888},{164,221}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{164,221}}</string>
				<key>sourceSize</key>
				<string>{164,221}</string>
			</dict>

			<key>volcano_fire_N_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{495,444},{164,221}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{164,221}}</string>
				<key>sourceSize</key>
				<string>{164,221}</string>
			</dict>

			<key>volcano_fire_N_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{330,666},{164,221}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{164,221}}</string>
				<key>sourceSize</key>
				<string>{164,221}</string>
			</dict>

			<key>volcano_fire_N_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{495,888},{164,221}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{164,221}}</string>
				<key>sourceSize</key>
				<string>{164,221}</string>
			</dict>

			<key>volcano_fire_N_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{495,444},{164,221}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{164,221}}</string>
				<key>sourceSize</key>
				<string>{164,221}</string>
			</dict>

			<key>volcano_fire_N_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{495,222},{164,221}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{164,221}}</string>
				<key>sourceSize</key>
				<string>{164,221}</string>
			</dict>

			<key>volcano_fire_N_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{495,222},{164,221}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{164,221}}</string>
				<key>sourceSize</key>
				<string>{164,221}</string>
			</dict>

			<key>volcano_fire_N_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{495,0},{164,221}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{164,221}}</string>
				<key>sourceSize</key>
				<string>{164,221}</string>
			</dict>

			<key>volcano_fire_N_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{330,1776},{164,221}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{164,221}}</string>
				<key>sourceSize</key>
				<string>{164,221}</string>
			</dict>

			<key>volcano_fire_N_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{330,1554},{164,221}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{164,221}}</string>
				<key>sourceSize</key>
				<string>{164,221}</string>
			</dict>

			<key>volcano_fire_N_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{330,1332},{164,221}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{164,221}}</string>
				<key>sourceSize</key>
				<string>{164,221}</string>
			</dict>

			<key>volcano_fire_N_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{330,1332},{164,221}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{164,221}}</string>
				<key>sourceSize</key>
				<string>{164,221}</string>
			</dict>

			<key>volcano_fire_S_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{330,444},{164,221}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{164,221}}</string>
				<key>sourceSize</key>
				<string>{164,221}</string>
			</dict>

			<key>volcano_fire_S_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{330,222},{164,221}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{164,221}}</string>
				<key>sourceSize</key>
				<string>{164,221}</string>
			</dict>

			<key>volcano_fire_S_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{165,888},{164,221}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{164,221}}</string>
				<key>sourceSize</key>
				<string>{164,221}</string>
			</dict>

			<key>volcano_fire_S_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{165,666},{164,221}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{164,221}}</string>
				<key>sourceSize</key>
				<string>{164,221}</string>
			</dict>

			<key>volcano_fire_S_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{165,444},{164,221}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{164,221}}</string>
				<key>sourceSize</key>
				<string>{164,221}</string>
			</dict>

			<key>volcano_fire_S_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{165,222},{164,221}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{164,221}}</string>
				<key>sourceSize</key>
				<string>{164,221}</string>
			</dict>

			<key>volcano_fire_S_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{330,444},{164,221}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{164,221}}</string>
				<key>sourceSize</key>
				<string>{164,221}</string>
			</dict>

			<key>volcano_fire_S_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{330,0},{164,221}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{164,221}}</string>
				<key>sourceSize</key>
				<string>{164,221}</string>
			</dict>

			<key>volcano_fire_S_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{165,1776},{164,221}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{164,221}}</string>
				<key>sourceSize</key>
				<string>{164,221}</string>
			</dict>

			<key>volcano_fire_S_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{165,1554},{164,221}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{164,221}}</string>
				<key>sourceSize</key>
				<string>{164,221}</string>
			</dict>

			<key>volcano_fire_S_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{165,1554},{164,221}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{164,221}}</string>
				<key>sourceSize</key>
				<string>{164,221}</string>
			</dict>

			<key>volcano_fire_S_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{165,1332},{164,221}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{164,221}}</string>
				<key>sourceSize</key>
				<string>{164,221}</string>
			</dict>

			<key>volcano_fire_S_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{165,1110},{164,221}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{164,221}}</string>
				<key>sourceSize</key>
				<string>{164,221}</string>
			</dict>

			<key>volcano_fire_S_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{165,1110},{164,221}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{164,221}}</string>
				<key>sourceSize</key>
				<string>{164,221}</string>
			</dict>

			<key>volcano_fire_S_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{165,1110},{164,221}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{164,221}}</string>
				<key>sourceSize</key>
				<string>{164,221}</string>
			</dict>

			<key>volcano_fire_W_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{495,1776},{164,221}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{164,221}}</string>
				<key>sourceSize</key>
				<string>{164,221}</string>
			</dict>

			<key>volcano_fire_W_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{165,0},{164,221}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{164,221}}</string>
				<key>sourceSize</key>
				<string>{164,221}</string>
			</dict>

			<key>volcano_fire_W_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,666},{164,221}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{164,221}}</string>
				<key>sourceSize</key>
				<string>{164,221}</string>
			</dict>

			<key>volcano_fire_W_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,444},{164,221}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{164,221}}</string>
				<key>sourceSize</key>
				<string>{164,221}</string>
			</dict>

			<key>volcano_fire_W_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,222},{164,221}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{164,221}}</string>
				<key>sourceSize</key>
				<string>{164,221}</string>
			</dict>

			<key>volcano_fire_W_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{164,221}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{164,221}}</string>
				<key>sourceSize</key>
				<string>{164,221}</string>
			</dict>

			<key>volcano_fire_W_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{495,1776},{164,221}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{164,221}}</string>
				<key>sourceSize</key>
				<string>{164,221}</string>
			</dict>

			<key>volcano_fire_W_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1776},{164,221}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{164,221}}</string>
				<key>sourceSize</key>
				<string>{164,221}</string>
			</dict>

			<key>volcano_fire_W_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1554},{164,221}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{164,221}}</string>
				<key>sourceSize</key>
				<string>{164,221}</string>
			</dict>

			<key>volcano_fire_W_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1554},{164,221}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{164,221}}</string>
				<key>sourceSize</key>
				<string>{164,221}</string>
			</dict>

			<key>volcano_fire_W_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1554},{164,221}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{164,221}}</string>
				<key>sourceSize</key>
				<string>{164,221}</string>
			</dict>

			<key>volcano_fire_W_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1332},{164,221}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{164,221}}</string>
				<key>sourceSize</key>
				<string>{164,221}</string>
			</dict>

			<key>volcano_fire_W_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1110},{164,221}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{164,221}}</string>
				<key>sourceSize</key>
				<string>{164,221}</string>
			</dict>

			<key>volcano_fire_W_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,888},{164,221}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{164,221}}</string>
				<key>sourceSize</key>
				<string>{164,221}</string>
			</dict>

			<key>volcano_fire_W_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,888},{164,221}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{164,221}}</string>
				<key>sourceSize</key>
				<string>{164,221}</string>
			</dict>

			<key>volcano_hit_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1155,1554},{164,221}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{164,221}}</string>
				<key>sourceSize</key>
				<string>{164,221}</string>
			</dict>

			<key>volcano_hit_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1155,1554},{164,221}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{164,221}}</string>
				<key>sourceSize</key>
				<string>{164,221}</string>
			</dict>

			<key>volcano_hit_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1155,1332},{164,221}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{164,221}}</string>
				<key>sourceSize</key>
				<string>{164,221}</string>
			</dict>

			<key>volcano_hit_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1155,1110},{164,221}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{164,221}}</string>
				<key>sourceSize</key>
				<string>{164,221}</string>
			</dict>

			<key>volcano_hit_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1155,888},{164,221}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{164,221}}</string>
				<key>sourceSize</key>
				<string>{164,221}</string>
			</dict>

			<key>volcano_hit_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1155,666},{164,221}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{164,221}}</string>
				<key>sourceSize</key>
				<string>{164,221}</string>
			</dict>

			<key>volcano_hit_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1155,444},{164,221}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{164,221}}</string>
				<key>sourceSize</key>
				<string>{164,221}</string>
			</dict>

			<key>volcano_hit_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1155,222},{164,221}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{164,221}}</string>
				<key>sourceSize</key>
				<string>{164,221}</string>
			</dict>

			<key>volcano_hit_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1155,222},{164,221}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{164,221}}</string>
				<key>sourceSize</key>
				<string>{164,221}</string>
			</dict>

			<key>volcano_stand_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1155,0},{164,221}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{164,221}}</string>
				<key>sourceSize</key>
				<string>{164,221}</string>
			</dict>

			<key>volcano_stand_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{990,1776},{164,221}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{164,221}}</string>
				<key>sourceSize</key>
				<string>{164,221}</string>
			</dict>

			<key>volcano_stand_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{990,0},{164,221}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{164,221}}</string>
				<key>sourceSize</key>
				<string>{164,221}</string>
			</dict>

			<key>volcano_stand_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{825,1776},{164,221}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{164,221}}</string>
				<key>sourceSize</key>
				<string>{164,221}</string>
			</dict>

			<key>volcano_stand_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{825,1554},{164,221}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{164,221}}</string>
				<key>sourceSize</key>
				<string>{164,221}</string>
			</dict>

			<key>volcano_stand_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{825,1332},{164,221}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{164,221}}</string>
				<key>sourceSize</key>
				<string>{164,221}</string>
			</dict>

			<key>volcano_stand_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{825,1110},{164,221}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{164,221}}</string>
				<key>sourceSize</key>
				<string>{164,221}</string>
			</dict>

			<key>volcano_stand_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{990,1554},{164,221}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{164,221}}</string>
				<key>sourceSize</key>
				<string>{164,221}</string>
			</dict>

			<key>volcano_stand_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{990,1332},{164,221}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{164,221}}</string>
				<key>sourceSize</key>
				<string>{164,221}</string>
			</dict>

			<key>volcano_stand_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{990,1110},{164,221}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{164,221}}</string>
				<key>sourceSize</key>
				<string>{164,221}</string>
			</dict>

			<key>volcano_stand_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{990,1110},{164,221}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{164,221}}</string>
				<key>sourceSize</key>
				<string>{164,221}</string>
			</dict>

			<key>volcano_stand_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{990,888},{164,221}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{164,221}}</string>
				<key>sourceSize</key>
				<string>{164,221}</string>
			</dict>

			<key>volcano_stand_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{990,666},{164,221}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{164,221}}</string>
				<key>sourceSize</key>
				<string>{164,221}</string>
			</dict>

			<key>volcano_stand_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{990,444},{164,221}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{164,221}}</string>
				<key>sourceSize</key>
				<string>{164,221}</string>
			</dict>

			<key>volcano_stand_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{990,222},{164,221}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{164,221}}</string>
				<key>sourceSize</key>
				<string>{164,221}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,2048}</string>
			<key>textureFileName</key>
			<string>volcano.png</string>
			</dict>
		</dict>
</plist>