<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>fx_charge_atk_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{654,1203},{326,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{326,400}}</string>
				<key>sourceSize</key>
				<string>{326,400}</string>
			</dict>

			<key>fx_charge_atk_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1635,401},{326,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{326,400}}</string>
				<key>sourceSize</key>
				<string>{326,400}</string>
			</dict>

			<key>fx_charge_atk_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{981,802},{326,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{326,400}}</string>
				<key>sourceSize</key>
				<string>{326,400}</string>
			</dict>

			<key>fx_charge_atk_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{981,401},{326,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{326,400}}</string>
				<key>sourceSize</key>
				<string>{326,400}</string>
			</dict>

			<key>fx_charge_atk_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{981,0},{326,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{326,400}}</string>
				<key>sourceSize</key>
				<string>{326,400}</string>
			</dict>

			<key>fx_charge_atk_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{654,1604},{326,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{326,400}}</string>
				<key>sourceSize</key>
				<string>{326,400}</string>
			</dict>

			<key>fx_charge_atk_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1635,0},{326,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{326,400}}</string>
				<key>sourceSize</key>
				<string>{326,400}</string>
			</dict>

			<key>fx_charge_atk_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1308,1604},{326,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{326,400}}</string>
				<key>sourceSize</key>
				<string>{326,400}</string>
			</dict>

			<key>fx_charge_atk_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1308,1203},{326,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{326,400}}</string>
				<key>sourceSize</key>
				<string>{326,400}</string>
			</dict>

			<key>fx_charge_atk_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1308,802},{326,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{326,400}}</string>
				<key>sourceSize</key>
				<string>{326,400}</string>
			</dict>

			<key>fx_charge_atk_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1308,401},{326,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{326,400}}</string>
				<key>sourceSize</key>
				<string>{326,400}</string>
			</dict>

			<key>fx_charge_atk_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1308,0},{326,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{326,400}}</string>
				<key>sourceSize</key>
				<string>{326,400}</string>
			</dict>

			<key>fx_charge_atk_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{981,1604},{326,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{326,400}}</string>
				<key>sourceSize</key>
				<string>{326,400}</string>
			</dict>

			<key>fx_charge_atk_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{981,1203},{326,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{326,400}}</string>
				<key>sourceSize</key>
				<string>{326,400}</string>
			</dict>

			<key>fx_charge_countr_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1635,802},{326,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{326,400}}</string>
				<key>sourceSize</key>
				<string>{326,400}</string>
			</dict>

			<key>fx_charge_countr_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{654,802},{326,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{326,400}}</string>
				<key>sourceSize</key>
				<string>{326,400}</string>
			</dict>

			<key>fx_charge_countr_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1203},{326,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{326,400}}</string>
				<key>sourceSize</key>
				<string>{326,400}</string>
			</dict>

			<key>fx_charge_countr_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,802},{326,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{326,400}}</string>
				<key>sourceSize</key>
				<string>{326,400}</string>
			</dict>

			<key>fx_charge_countr_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,401},{326,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{326,400}}</string>
				<key>sourceSize</key>
				<string>{326,400}</string>
			</dict>

			<key>fx_charge_countr_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{326,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{326,400}}</string>
				<key>sourceSize</key>
				<string>{326,400}</string>
			</dict>

			<key>fx_charge_countr_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{654,401},{326,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{326,400}}</string>
				<key>sourceSize</key>
				<string>{326,400}</string>
			</dict>

			<key>fx_charge_countr_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{654,0},{326,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{326,400}}</string>
				<key>sourceSize</key>
				<string>{326,400}</string>
			</dict>

			<key>fx_charge_countr_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{327,1604},{326,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{326,400}}</string>
				<key>sourceSize</key>
				<string>{326,400}</string>
			</dict>

			<key>fx_charge_countr_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{327,1203},{326,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{326,400}}</string>
				<key>sourceSize</key>
				<string>{326,400}</string>
			</dict>

			<key>fx_charge_countr_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{327,802},{326,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{326,400}}</string>
				<key>sourceSize</key>
				<string>{326,400}</string>
			</dict>

			<key>fx_charge_countr_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{327,401},{326,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{326,400}}</string>
				<key>sourceSize</key>
				<string>{326,400}</string>
			</dict>

			<key>fx_charge_countr_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{327,0},{326,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{326,400}}</string>
				<key>sourceSize</key>
				<string>{326,400}</string>
			</dict>

			<key>fx_charge_countr_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1604},{326,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{326,400}}</string>
				<key>sourceSize</key>
				<string>{326,400}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,2048}</string>
			<key>textureFileName</key>
			<string>fx1.png</string>
			</dict>
		</dict>
</plist>